{% extends 'layouts/main.twig' %}

{% block page_event %}active{% endblock %}
{% block page_title %}{{ page.event.title }}{% endblock %}
{% block page_description %}Information about '{{ page.event.title }}' event happening at {{ page.event.place.title }} ({{ page.event.place.address }}) on {{ page.event.startsAt|localtimestamp(page.event.tzOffset)|date }}{% endblock %}
{% block page_thumbnail %}http:{{ page.event.cover.large|cdn }}{% endblock %}
{% block page_base_href %}/en/{% endblock %}
{% block page_controller %}EventController{% endblock %}
{% block page_ng_init %}{% if page.access.canUpdate %}
    entity = {{ page.event|json_encode|escape_attr }};
    entity.newsList = {{ page.newsList|json_encode|escape_attr }};
{% else %}
    entity.place = {{ page.event.place|json_encode|escape_attr }};
    entity.startsAt = {{ page.event.startsAt }};
    entity.endsAt = {{ page.event.endsAt }};
{% endif %}{% endblock %}

{% block page_content %}

<section class="section swatch-black-beige">
    {% if page.access.canUpdate %}
        <div
            class="background-media event-cover-opacity"
            ng-attr-style="background-image: url('[[ entity.cover.large ]]'); background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;"
            data-start="background-position: 50% 0px"
            data-top-bottom="background-position: 50% -200px"
        ></div>
        <div class="background-overlay" style="background-color:rgba(0,0,0,0.6)">
            <div class="upload-cover-button ng-cloak" ng-show="entity.id">
                <div>
                    <label for="inputImage" class="fa fa-upload">
                        <input type="file" id="inputImage" file-model="editor.cover.source">
                    </label>
                </div>
                <span class="hidden-xs ml-md">Upload cover</span>
            </div>
        </div>
    {% else %}
        <div
            class="background-media event-cover-opacity"
            style="background-image: url('{{  page.event.cover.large }}'); background-repeat: ; background-size: ; background-attachment: ; background-position: ; background-size: cover;"
            data-start="background-position: 50% 0px"
            data-top-bottom="background-position: 50% -200px"
        ></div>
    {% endif %}
    <div class="container">
        <header class="section-header no-underline">
            {% if page.access.canUpdate %}
            <h1
                class="headline hyper hairline"
                ng-model="entity.title"
                contenteditable="{{ page.access.canUpdate|string }}"
                placeholder="Enter title here..."
                on-blur="updateEntity()"
                ng-class="{
                    'ng-invalid-required': editor.ngForm.title.$error.required,
                    'ng-invalid-minlength': editor.ngForm.title.$error.minlength,
                    'ng-invalid-maxlength': editor.ngForm.title.$error.maxlength
                }"
            >{{ page.event.title }}</h1>
            <input
                type="hidden"
                name="title"
                ng-model="entity.title"
                ng-required="true"
                ng-minlength="{{ page.consts.EVENT_TITLE_MIN_LENGTH }}"
                ng-maxlength="{{ page.consts.EVENT_TITLE_MAX_LENGTH }}"
            >
            <h2 class="ng-cloak" ng-init="
                editor.startsAt = editDateTime(entity.startsAt, entity.tzOffset);
                editor.endsAt = editDateTime(entity.endsAt, entity.tzOffset)
            ">
                <br />
                <label for="id-entity-startsAt-date" class="h3" ng-bind="entity.startsAt|localtimestamp:entity.tzOffset|momentDate:'DD MMMM YYYY'">
                    {{ page.event.startsAt|localtimestamp(page.event.tzOffset)|date }}
                </label>
                <input
                    class="hidden"
                    id="id-entity-startsAt-date"
                    name="startsAtDate"
                    pick-date="editor.startsAt"
                    pick-date-container="#id-pickadate-container"
                    min="[[ now()|momentDate:'YYYY-MM-DD' ]]"
                />
                <br />
                <label for="id-entity-startsAt-time" class="small" ng-bind="entity.startsAt|localtimestamp:entity.tzOffset|momentTime:'HH:mm'">
                    {{ page.event.startsAt|localtimestamp(page.event.tzOffset)|time }}
                </label>
                <input
                    class="hidden"
                    id="id-entity-startsAt-time"
                    name="startsAtTime"
                    pick-time="editor.startsAt"
                    pick-time-container="#id-pickadate-container"
                />
                <small>&#8211;</small>
                <label for="id-entity-endsAt-time" class="small" ng-bind="entity.endsAt|localtimestamp:entity.tzOffset|momentTime:'HH:mm'">
                    {{ page.event.endsAt|localtimestamp(page.event.tzOffset)|time }}
                </label>
                <input
                    class="hidden"
                    id="id-entity-endsAt-time"
                    name="endsAtTime"
                    pick-time="editor.endsAt"
                    pick-time-container="#id-pickadate-container"
                />
            </h2>
            {% else %}
                <h1 class="headline hyper hairline">{{ page.event.title }}</h1>
                <h2>
                    <br />
                    <label class="h3">{{ page.event.startsAt|localtimestamp(page.event.tzOffset)|date }}</label>
                    <br />
                    <label class="small">{{ page.event.startsAt|localtimestamp(page.event.tzOffset)|time }}</label>
                    <small>&#8211;</small>
                    <label class="small">{{ page.event.endsAt|localtimestamp(page.event.tzOffset)|time }}</label>
                </h2>
            {% endif %}
        </header>
    </div>
</section>

<section class="section swatch-beige-black has-top">

    <div class="decor-top">
        <svg class="decor hidden-xs hidden-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z"
                  stroke-width="0"></path>
        </svg>
        <svg class="decor visible-xs visible-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L5 60 L10 100 L5 60 L10 100 L15 60 L20 100 L25 60 L30 100 L35 60 L40 100 L45 60 L50 100 L55 60 L60 100 L65 60 L70 100 L75 60 L80 100 L85 60 L90 100 L95 60 L100 100"></path>
        </svg>
    </div>

    <div class="container">
        <header class="section-header underline">
            <h1 class="headline hyper hairline">Line-up</h1>
        </header>
        <div class="row">
            {% if page.access.canUpdate %}
            <ul
                ng-class="{'editing': editor.artistList.active }"
                class="list-unstyled row artist-list box-artist-list editable ng-cloak"
            >
                <li
                    ng-repeat="artist in entity.artistList track by artist.id"
                    class="os-animation-DISABLED-DUE-TO-BROKEN-APPEARANCE"
                    ng-class="getArtistClassList($index, entity.artistList.length)"
                    data-os-animation="fadeInUp"
                    data-os-animation-delay=".0s"
                >
                    <div class="box-hex flat-shadow box-huge">
                        <div class="box-dummy"></div>
                        <figure class="box-inner">
                            <img
                                class="svg-inject ng-cloak"
                                ng-if="artist.id"
                                ng-src="[[ artist.cover.large|default:'/assets/images/dj_silhouette.png' ]]"
                                ng-attr-alt="[[ artist.title ]]"
                            />
                            <figcaption class="box-caption">
                                <i class="tools ng-cloak" ng-show="artist.id">
                                    <span class="fa fa-arrow-left" ng-click="moveArtistLeft(artist)"></span>
                                    <span class="fa fa-trash" ng-click="removeArtist(artist)"></span>
                                    <span class="fa fa-arrow-right" ng-click="moveArtistRight(artist)"></span>
                                </i>
                                <i class="fa fa-question-circle ng-cloak" ng-hide="artist.id || editor.artistList.artist.title"></i>
                                <i
                                    class="fa fa-plus-circle ng-cloak"
                                    ng-hide="artist.id || !editor.artistList.artist.title || !editor.artistList.artist.hometown"
                                    ng-click="createArtist(editor.artistList.artist)"
                                ></i>
                            </figcaption>
                        </figure>
                        <div class="hex-right"></div>
                        <div class="hex-left"></div>
                    </div>
                    <h3 class="text-center ng-cloak" ng-show="artist.id">
                        <a
                            bc-href="{{ url(['for': 'get-artist-page', 'artistId': '{artistId}']) }}"
                            ng-attr-artist-id="[[ artist.id ]]"
                            ng-bind="artist.title"
                            target="_self"
                        ></a>
                        <small class="block" ng-bind="artist.hometown"></small>
                    </h3>
                    <h3 class="text-center ng-cloak" ng-if="!artist.id">
                        <span
                            contenteditable="true"
                            placeholder="Artist title here..."
                            ng-model="editor.artistList.artist.title"
                        ></span>
                        <small
                            class="block"
                            contenteditable="true"
                            placeholder="Artist hometown here..."
                            ng-show="editor.artistList.artist.title"
                            ng-model="editor.artistList.artist.hometown"
                        ></small>
                        <small ng-hide="editor.artistList.artist.title"><br />&nbsp;</small>
                    </h3>
                    <div class="text-center ng-cloak" ng-show="artist.id">[[ artist.intro ]]</div>
                    <div class="ng-cloak" ng-hide="artist.id">
                        <ul class="fa-ul mt-lg ng-cloak">
                            <li
                                class="text-left mb-sm"
                                ng-repeat="foundArtist in editor.artistList.foundList track by foundArtist.id"
                            >
                                <div class="li-image" ng-click="appendArtist(foundArtist)">
                                    <img
                                        class="media-objects img-circle"
                                        ng-attr-alt="[[ foundArtist.title ]]"
                                        ng-attr-src="[[ foundArtist.cover.small|default:'/assets/images/dj_silhouette.png' ]]"
                                    />
                                </div>
                                <div class="li-artist" ng-click="appendArtist(foundArtist)">
                                    [[ foundArtist.title ]]
                                    <p>[[ foundArtist.hometown ]]</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="list-inline text-center social-icons social-simple ng-cloak" ng-show="artist.id">
                        <li ng-repeat="link in artist.linkList" ng-hide="link.hide">
                            <a ng-href="[[ link.href ]]" target="_blank">
                                <i ng-attr-class="fa fa-[[ link.site ]]"></i>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="list-unstyled row artist-list box-artist-list">
                {% for artist in page.event.artistList %}
                <li class="os-animation"
                    ng-class="getArtistClassList({{ loop.index - 1 }}, {{ page.event.artistList|length }})"
                    data-os-animation="fadeInUp"
                    data-os-animation-delay=".0s">
                    <div class="box-hex flat-shadow box-huge">
                        <div class="box-dummy"></div>
                        <figure class="box-inner ">
                            <img class="svg-inject" src="{{ artist.cover.large|default('/assets/images/dj_silhouette.png') }}" alt="{{ artist.title }}" />
                        </figure>
                    </div>
                    <h3 class="text-center">
                        <a href="{{ url(['for': 'get-artist-page', 'artistId': artist.id]) }}" target="_self">{{ artist.title }}</a>
                        <small class="block">{{ artist.hometown }}</small>
                    </h3>
                    <p class="text-center ">{{ artist.intro }}</p>
                    <ul class="list-inline text-center social-icons social-simple">
                    {% for link in artist.linkList %}
                        {% if not link.hide %}
                        <li>
                            <a href="{{ link.href }}" target="_blank">
                                <i class="fa fa-{{ link.site }}"></i>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
</section>

<section class="section swatch-black-beige has-top has-bottom section-nopadding">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container">
        <header class="text-center underline">
            {% if page.access.canUpdate %}
                <div class="h1 no-margin">
                    <i
                        id="id-clear-event-place"
                        class="fa fa-trash ng-cloak"
                        ng-click="removePlace()"
                        ng-show="entity.place.id"
                    ></i>
                    <i
                        class="fa ng-cloak fa-plus-circle"
                        ng-click="createPlace(entity.place)"
                        ng-show="!entity.place.id && entity.place.title && entity.place.latitude && entity.place.longitude"
                    ></i>
                </div>
                <h1 class="headline super hairline">
                    <a
                        class="ng-cloak" target="_self"
                        ng-if="entity.place.id"
                        bc-href="{{ url(['for': 'get-place-page', 'placeId': '{placeId}']) }}"
                        ng-attr-place-id="[[ entity.place.id ]] "
                        ng-bind="entity.place.title"
                    >{{ page.event.place.title }}</a>
                    <div
                        class="ng-cloak"
                        contenteditable="true"
                        placeholder="Place title here..."
                        ng-hide="entity.place.id"
                        ng-model="entity.place.title"
                    >{{ page.event.place.title }}</div>
                </h1>
                <h2
                    class="ng-cloak"
                    ng-show="entity.place.id"
                    ng-bind="entity.place.address"
                >{{ page.event.place.address }}</h2>
                <h2
                    class="ng-cloak"
                    ng-hide="entity.place.id"
                    ng-model="entity.place.address"
                    contenteditable="true"
                    placeholder="Place address here..."
                >{{ page.event.place.address }}</h2>
                <p
                    ng-show="entity.place.id"
                    ng-bind-html="entity.place.intro|unsafe"
                >{{ page.event.place.intro }}</p>
                <ul class="fa-ul mt-lg container-fullwidth ng-cloak" ng-hide="entity.place.id">
                    <li
                        class="text-left mb-sm"
                        ng-repeat="foundPlace in editor.place.foundList track by foundPlace.id"
                    >
                        <div class="li-artist" ng-click="appendPlace(foundPlace)">
                            [[ foundPlace.title ]]
                            <p>[[ foundPlace.address ]]</p>
                        </div>
                    </li>
                </ul>
            {% else %}
                <h1 class="headline super hairline">
                    <a href="{{ url(['for': 'get-place-page', 'placeId': page.event.place.id]) }}" target="_self">
                        {{ page.event.place.title }}
                    </a>
                </h1>
                <h2 class="mb-sm">{{ page.event.place.address }}</h2>
                <a href="https://maps.google.com/?saddr=Current+Location&daddr={{ page.event.place.latitude }},{{ page.event.place.longitude }}"><i class="fa fa-hand-o-right"></i> &nbsp; Directions</a>
                <p class="mt-lg">{{ page.event.place.intro }}</p>
            {% endif %}
        </header>
    </div>
</section>

<section class="section swatch-beige-black section-nopadding ng-cloak">
    <div class="container-fullwidth">
        <div class="row">
            <div class="col-md-12">
                <entity-map
                    class="google-map"
                    id="map-{{ page.event.id }}"
                    entity="entity.place"
                    editable="[[ !entity.place.id ]]"
                ></entity-map>
            </div>
        </div>
    </div>
</section>

<section class="section swatch-beige-black has-top">
<div class="decor-top">
    <svg
        class="decor"
        height="100%"
        preserveaspectratio="none"
        version="1.1"
        viewbox="0 0 100 100"
        width="100%"
        xmlns="http://www.w3.org/2000/svg"
    ><path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path></svg>
</div>
<div class="container">
<div class="row">
<div class="col-md-9">
    <article class="post post-showinfo" ng-form="editor.newsList.ngForm">
        {% if page.access.canUpdate %}
            <div ng-repeat="news in entity.newsList track by news.createdAt" ng-form="newsNgForm">
                <input
                    type="hidden"
                    name="title"
                    ng-model="news.title"
                    ng-required="news.content && newsNgForm.content.$valid"
                    ng-minlength="{{ page.consts.NEWS_TITLE_MIN_LENGTH }}"
                    ng-maxlength="{{ page.consts.NEWS_TITLE_MAX_LENGTH }}"
                />
                <input
                    type="hidden"
                    name="content"
                    ng-model="news.content"
                    ng-required="news.title && newsNgForm.title.$valid"
                    ng-minlength="{{ page.consts.NEWS_CONTENT_MIN_LENGTH }}"
                    ng-maxlength="{{ page.consts.NEWS_CONTENT_MAX_LENGTH }}"
                />
                <div class="post-head small-screen-center">
                    <h2
                        class="post-title"
                        contenteditable="[[ editor.newsList.ngForm.$valid || !newsNgForm.$valid ]]"
                        placeholder="Announcement title here..."
                        on-blur="updateEntityNews(news)"
                        ng-model="news.title"
                        ng-class="{
                            'ng-invalid-required': newsNgForm.title.$error.required,
                            'ng-invalid-minlength': newsNgForm.title.$error.minlength,
                            'ng-invalid-maxlength': newsNgForm.title.$error.maxlength
                        }"
                    ></h2>
                    <div class="post-icon flat-shadow flat-hex">
                        <div class="hex hex-big">
                            <i class="fa fa-newspaper-o" ng-show="news.createdAt"></i>
                            <i class="fa fa-plus-circle" ng-hide="news.createdAt"></i>
                        </div>
                    </div>
                </div>
                <div
                    class="post-body"
                    contenteditable="[[ editor.newsList.ngForm.$valid || !newsNgForm.$valid ]]"
                    multiline="true"
                    placeholder="Announcement content here..."
                    on-blur="updateEntityNews(news)"
                    ng-model="news.content"
                    ng-class="{
                        'ng-invalid-required': newsNgForm.content.$error.required,
                        'ng-invalid-minlength': newsNgForm.content.$error.minlength,
                        'ng-invalid-maxlength': newsNgForm.content.$error.maxlength
                    }"
                ></div>
            </div>
        {% else %}
            {% for news in page.newsList %}
            <div class="post-head small-screen-center">
                <h2 class="post-title">{{ news.title }}</h2>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">{{ news.content }}</div>
            {% endfor %}
        {% endif %}
    </article>

    {#
    <div class="comments padded post-showinfo" id="comments">
        <div class="comments-head small-screen-center">
            <h3>Comments
                {{ _('**', '{0, plural, one{1 comment} other{# comments}}', [page.commentCount]) }}
                {{ _('ru', '{0, plural, one{1 комментарий} few{# комментария} other{# комментариев}}', [page.commentCount]) }}
            </h3>
            <small>
                Join the conversation
            </small>
            <div class="post-icon flat-hex flat-shadow">
                <div class="hex hex-big">
                    <i class="fa fa-comments"></i>
                </div>
            </div>
        </div>
        <ul class="comments-list comments-body media-list">
            {% for message in page.commentList %}
            <li class="media media-comment">
                <div class="box-round box-mini pull-left">
                    <div class="box-dummy"></div>
                    <a class="box-inner" href="#">
                        <img alt="{{ message.author.title }}" class="media-objects img-circle" src="{{ message.author.cover.small }}">
                    </a>
                </div>
                <div class="media-body">
                    <div class="media-inner">
                        <h5 class="media-heading clearfix">
                            {{ message.author.title }}, {{ message.createdAt|ago }}.
                            <!-- a class="comment-reply pull-right" href="#">
                                reply
                            </a-->
                        </h5>
                        <p>{{ message.content }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    #}
</div>
<div class="col-md-3">
    {% if page.access.canUpdate or page.event.tagList %}
    <div class="sidebar-widget widget_categories">
        <h3 class="sidebar-header">Categories</h3>
        {% if page.access.canUpdate %}
        <ul ng-form="editor.tagList.ngForm">
            <li ng-repeat="tag in entity.tagList track by tag.id" ng-form="ngForm">
                <a ng-show="tag.id" ng-href="#[[ tag.id ]]"><i class="fa fa-tag"></i></a>
                <i ng-hide="tag.id" class="fa fa-plus-circle"></i>
                <span
                    contenteditable="true"
                    placeholder="Category here..."
                    on-blur="updateEntityTagList()"
                    ng-model="tag.title"
                    ng-class="{
                        'ng-invalid-minlength': ngForm.title.$error.minlength,
                        'ng-invalid-maxlength': ngForm.title.$error.maxlength
                    }"
                >[[ tag.title ]]</span>
                <input
                    type="hidden"
                    name="title"
                    ng-model="tag.title"
                    ng-minlength="{{ page.consts.TAG_MIN_TITLE_LENGTH }}"
                    ng-maxlength="{{ page.consts.TAG_MAX_TITLE_LENGTH }}"
                />
            </li>
        </ul>
        {% else %}
        <ul>
            {% for tag1 in page.event.tagList %}
            <li>
                <a href="#{{ tag1.id }}">
                    <i class="fa fa-tag"></i>
                    {{ tag1.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
         {% endif %}
    </div>
    {% endif %}
    {% if page.relatedEventList %}
    <div class="sidebar-widget widget_recent_entries">
        <h3 class="sidebar-header">More at this venue</h3>
        <ul>
            {% for event in page.relatedEventList %}
            <li>
                <div class="post-icon">
                    <i class="fa fa-calendar"></i>
                </div>
                <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}" target="_self">{{ event.title }}</a>
                <small>{{ event.startsAt|localtimestamp(event.tzOffset)|date }}</small>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if page.promoter.intro %}
    <div class="sidebar-widget widget_text">
        <h3 class="sidebar-header">Promoter</h3>
        <p>{{ page.promoter.intro }}</p>
    </div>
    {% endif %}
</div>
<div class="col-md-12">
    <div class="row">
        <div class="post-share text-center mt-xlg">
            <ul class="social-share">
                <li>
                    <a
                            data-original-title="Share on Twitter"
                            data-toggle="tooltip"
                            target="_blank"
                            ng-href="http://twitter.com/intent/tweet?text=[[ entity.title ]] [[ $location.absUrl() ]]"
                            ><i class="fa fa-twitter fa-3x"></i></a>
                </li>
                <li>
                    <a
                            data-original-title="Share on Google+"
                            data-toggle="tooltip"
                            target="_blank"
                            ng-href="https://plus.google.com/share?url=[[ $location.absUrl() ]]"
                            ><i class="fa fa-google-plus fa-3x"></i></a>
                </li>
                <li>
                    <a
                            data-original-title="Share on Facebook"
                            data-toggle="tooltip"
                            target="_blank"
                            ng-href="http://facebook.com/sharer.php?u=[[ $location.absUrl() ]]"
                            ><i class="fa fa-facebook fa-3x"></i></a>
                </li>
                <li>
                    <a
                            data-original-title="Add to Google Calendar"
                            data-toggle="tooltip"
                            target="_blank"
                            ng-href="http://www.google.com/calendar/event?action=TEMPLATE&dates={{ page.event.startsAt|dateFormat("Ymd\\THi00\\Z") }}%2F{{ page.event.endsAt|dateFormat("Ymd\\THi00\\Z") }}&text={{ page.event.title }}&details=[[ $location.absUrl() ]]&location={{ page.event.place.title }},%20{{ page.event.place.address }}"
                            ><i class="fa fa-calendar fa-3x"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <header class="section-header underline">
        <h1 class="headline hyper hairline ng-cloak" ng-hide="instagram.itemList.length">Related media</h1>
        <h1 class="headline hyper hairline ng-cloak" ng-show="instagram.itemList.length">Live! media</h1>
    </header>

    <div class="row">
        <ul class="list-unstyled event-gallery isotope no-transition ng-cloak" data-prev-text="Previous" data-next-text="Next" ng-if="instagram.itemList.length">
            <li
                ng-repeat="item in instagram.itemList"
                class="col-md-4 nopadding post-item filter-images isotope-item"
            >
                <div class="grid-gallery swatch-beige-black">
                    <article class="post post-showinfo">
                        <div class="post-media overlay">
                            <a
                                class="feature-image event-gallery-item hover-animate"
                                data-gallery-type="image"
                                target="_blank"
                                ng-href="[[ item.images.standard_resolution.url ]]"
                            ><img alt="some image" class="img-responsive" ng-src="[[ item.images.standard_resolution.url ]]"></a>
                        </div>
                    </article>
                </div>
            </li>
        </ul>
        <ul class="list-unstyled event-gallery isotope no-transition ng-cloak" data-prev-text="Previous" data-next-text="Next" ng-if="!instagram.itemList.length">
            {% for post in page.postList %}
                {%  if post.type == "Image" %}
                    <li class="col-md-4 nopadding post-item filter-images isotope-item">
                        <div class="grid-gallery swatch-beige-black">
                            <article class="post post-showinfo">
                                <div class="post-media overlay">
                                    <a
                                            class="feature-image event-gallery-item hover-animate"
                                            data-gallery-type="image"
                                            href="{{ post.href }}"
                                            title="{{ post.postedAt }} {{ post.author.title }}"
                                            ><img alt="some image" class="img-responsive" src="{{ post.cover }}"></a>
                                </div>
                                <div class="post-head small-screen-center">
                                    <div class="post-icon flat-shadow">
                                        <div class="box-round box-mini">
                                            <div class="box-dummy"></div>
                                            <figure class="box-inner">
                                                <a href="{{ post.author.id }}">
                                                    <img class="img-circle" src="{{ post.author.cover.small }}">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </li>
                {% elseif post.type == "Video" %}
                    <li class="col-md-4 nopadding post-item filter-media isotope-item">
                        <div class="grid-gallery swatch-beige-black">
                            <article class="post post-showinfo">
                                <div class="post-media overlay">
                                    <a
                                            class="feature-image event-gallery-item hover-animate"
                                            data-gallery-type="iframe"
                                            href="{{ post.href }}"
                                            title="{{ post.postedAt }} {{ post.author.title }}"
                                            ><img alt="some image" class="img-responsive" src="{{ post.cover }}"></a>
                                </div>
                                <div class="post-head small-screen-center">
                                    <div class="post-icon flat-shadow">
                                        <div class="box-round box-mini">
                                            <div class="box-dummy"></div>
                                            <figure class="box-inner">
                                                <a href="{{ post.author.id }}">
                                                    <img class="img-circle" src="{{ post.author.cover.small }}">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>
</div>
</div>
</section>
{#
<section class="section swatch-beige-black has-top">
<div class="decor-top">
    <svg class="decor" height="60px" preserveaspectratio="none" style="height: 60px !important;" version="1.1" viewbox="0 0 100 100" width="60px" xmlns="http://www.w3.org/2000/svg">
        <path d="M50 0 L50 100" stroke-width="1"></path>
        <path d="M0 50 L100 50" stroke-width="1"></path>
    </svg>
</div>
<div class="container">
<header class="section-header underline">
    <h1 class="headline super hairline">More gigs</h1>
</header>
<div class="carousel slide" id="news2">
<ol class="carousel-indicators">
    <li data-slide-to="0" data-target="#news2" class="active"></li>
    <li data-slide-to="1" data-target="#news2"></li>
</ol>
<div class="carousel-inner">
<div class="item active">
<div class="row">
<div class="col-md-4">
    <div class="grid-post swatch-beige-black">
        <article class="post post-showinfo">
            <div class="post-media">
                <a class="feature-image magnific hover-animate" href="/uploads/circoloco.jpg" title="Thats a nice image">
                    <img alt="some image" src="/uploads/circoloco.jpg">
                    <i class="fa fa-search-plus"></i>
                </a>
            </div>
            <div class="post-head text-center">
                <h3 class="post-title">
                    <a href="post.html">
                        This theme is so nice!
                    </a>
                </h3>
                <small class="post-author">
                    <a href="blog.html">John Langan,</a>
                </small>
                <small class="post-date">
                    <a href="post.html">12 August 2014</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-camera"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                </p>
                <a class="more-link" href="post.html">
                    read more
                </a>
            </div>
            <div class="post-extras">
                <div class="text-center">
                                                        <span class="post-category">
                        <a href="post.html">
                            <i class="fa fa-folder-open"></i>
                            News
                        </a>
                    </span>
                                                        <span class="post-tags">
                        <i class="fa fa-tags"></i>
                        
                            <a href="post.html">
                                design,
                            </a>
                        
                        
                            <a href="post.html">
                                flat,
                            </a>
                        
                        
                            <a href="post.html">
                                responsive,
                            </a>
                        
                        
                            <a href="post.html">
                                metro
                            </a>
                        
                        </span>
                </div>
                <div class="text-center">
                                                        <span class="post-link">
                        <a href="post.html">
                            <i class="fa fa-comments"></i>
                            4 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="col-md-4">
    <div class="grid-post swatch-beige-black">
        <article class="post post-showinfo">
            <div class="post-media">
            </div>
            <div class="post-head text-center">
                <h3 class="post-title">
                    <a href="post.html">
                        Bootstrap is Really Important
                    </a>
                </h3>
                <small class="post-author">
                    <a href="blog.html">Manos Proistak,</a>
                </small>
                <small class="post-date">
                    <a href="post.html">25 July 2013</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-file-text"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam. In lobortis eget ipsum vestibulum
                    tristique. Donec luctus, dolor ut scelerisque luctus, erat elit consectetur arcu, eu pellentesque felis nulla sed massa. Nunc enim sem, ullamcorper ac tincidunt eget, euismod nec leo. Nunc imperdiet
                    fringilla erat, sit amet iaculis ipsum congue et.
                </p>
                <a class="more-link" href="post.html">
                    read more
                </a>
            </div>
            <div class="post-extras">
                <div class="text-center">
                                                        <span class="post-category">
                        <a href="post.html">
                            <i class="fa fa-folder-open"></i>
                            News
                        </a>
                    </span>
                                                        <span class="post-tags">
                        <i class="fa fa-tags"></i>
                        
                            <a href="post.html">
                                design,
                            </a>
                        
                        
                            <a href="post.html">
                                blog
                            </a>
                        
                        
                        
                        </span>
                </div>
                <div class="text-center">
                                                        <span class="post-link">
                        <a href="post.html">
                            <i class="fa fa-comments"></i>
                            2 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="col-md-4">
    <div class="grid-post swatch-beige-black">
        <article class="post post-showinfo">
            <div class="post-media">
                <div id="slider-flex5" class="flexslider text-left feature-slider" data-flex-speed="7000" data-flex-animation="slide" data-flex-controls="hide" data-flex-directions="show" data-flex-controlsalign="center" data-flex-captionhorizontal="" data-flex-captionvertical=""
                     data-flex-controlsposition="" data-flex-directions-type="">
                    <ul class="slides">
                        <li>
                            <img src="/assets/images/design/vector/img-5-800x600.png" alt="some image">
                        </li>
                        <li>
                            <img src="/assets/images/design/vector/img-3-800x600.png" alt="some image">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="post-head text-center">
                <h3 class="post-title">
                    <a href="">
                        It is cool &amp; responsive
                    </a>
                </h3>
                <small class="post-author">
                    <a href="blog.html">Dimitrios Pantazis,</a>
                </small>
                <small class="post-date">
                    <a href="">15 May 2014</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-picture-o"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                </p>
                <a class="more-link" href="">
                    read more
                </a>
            </div>
            <div class="post-extras">
                <div class="text-center">
                                                        <span class="post-category">
                        <a href="">
                            <i class="fa fa-folder-open"></i>
                            blog
                        </a>
                    </span>
                                                        <span class="post-tags">
                        <i class="fa fa-tags"></i>
                        
                            <a href="post.html">
                                design,
                            </a>
                        
                        
                            <a href="post.html">
                                flat
                            </a>
                        
                        
                        
                        </span>
                </div>
                <div class="text-center">
                                                        <span class="post-link">
                        <a href="">
                            <i class="fa fa-comments"></i>
                            5 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
</div>
</div>
<div class="item">
<div class="row">
<div class="col-md-4">
    <div class="grid-post swatch-beige-black">
        <article class="post post-showinfo">
            <div class="post-media">
                <a class="feature-image magnific-youtube hover-animate" href="http://www.youtube.com/watch?v=cfOa1a8hYP8" title="Thats a nice image">
                    <img alt="some image" src="/assets/images/design/vector/img-2-800x600.png">
                    <i class="fa fa-play"></i>
                </a>
            </div>
            <div class="post-head text-center">
                <h3 class="post-title">
                    <a href="post.html">
                        Everybody loves it
                    </a>
                </h3>
                <small class="post-author">
                    <a href="blog.html">Chris Pantazis,</a>
                </small>
                <small class="post-date">
                    <a href="post.html">17 January 2014</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-film"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                </p>
                <a class="more-link" href="post.html">
                    read more
                </a>
            </div>
            <div class="post-extras">
                <div class="text-center">
                                                        <span class="post-category">
                        <a href="post.html">
                            <i class="fa fa-folder-open"></i>
                            News
                        </a>
                    </span>
                                                        <span class="post-tags">
                        <i class="fa fa-tags"></i>
                        
                            <a href="post.html">
                                design,
                            </a>
                        
                        
                            <a href="post.html">
                                flat,
                            </a>
                        
                        
                            <a href="post.html">
                                responsive
                            </a>
                        
                        
                        </span>
                </div>
                <div class="text-center">
                                                        <span class="post-link">
                        <a href="post.html">
                            <i class="fa fa-comments"></i>
                            4 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="col-md-4">
    <div class="grid-post swatch-beige-black">
        <article class="post post-showinfo">
            <div class="post-media">
            </div>
            <div class="post-head text-center">
                <h3 class="post-title">
                    <a href="post.html">
                        It is so cheap
                    </a>
                </h3>
                <small class="post-author">
                    <a href="blog.html">Mary Doe,</a>
                </small>
                <small class="post-date">
                    <a href="post.html">30 June 2014</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-quote-left"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <blockquote>
                    <p>Cras aliquet felis in magna accumsan, sit amet mattis arcu auctor. Nunc sollicitudin auctor adipiscing. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam
                        lacus ante, egestas id pellentesque vel, tempus at justo.</p>
                    <small>
                        Chris Pantazis
                        <cite title="Source Title"> Oxygenna magazine</cite>
                    </small>
                </blockquote>
                <a class="more-link" href="post.html">
                    read more
                </a>
            </div>
            <div class="post-extras">
                <div class="text-center">
                                                        <span class="post-category">
                        <a href="post.html">
                            <i class="fa fa-folder-open"></i>
                            Flat
                        </a>
                    </span>
                                                        <span class="post-tags">
                        <i class="fa fa-tags"></i>
                        
                            <a href="post.html">
                                design,
                            </a>
                        
                        
                            <a href="post.html">
                                quotes
                            </a>
                        
                        
                        
                        </span>
                </div>
                <div class="text-center">
                                                        <span class="post-link">
                        <a href="post.html">
                            <i class="fa fa-comments"></i>
                            2 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="col-md-4">
    <div class="grid-post swatch-beige-black">
        <article class="post post-showinfo">
            <div class="post-media">
                <a class="feature-image magnific-vimeo hover-animate" href="http://vimeo.com/20061744" title="Let&#x27;s talk about it">
                    <img alt="some image" src="/assets/images/design/vector/img-1-800x600.png">
                    <i class="fa fa-play"></i>
                </a>
            </div>
            <div class="post-head text-center">
                <h3 class="post-title">
                    <a href="post.html">
                        Everybody loves it
                    </a>
                </h3>
                <small class="post-author">
                    <a href="blog.html">Chris Pantazis,</a>
                </small>
                <small class="post-date">
                    <a href="post.html">15 August 2014</a>
                </small>
                <div class="post-icon flat-shadow flat-hex">
                    <div class="hex hex-big">
                        <i class="fa fa-film"></i>
                    </div>
                </div>
            </div>
            <div class="post-body">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, quo, veniam culpa maiores iure distinctio atque similique veritatis rem et adipisci eveniet aspernatur aut sapiente amet doloremque eos quasi numquam.
                </p>
                <a class="more-link" href="post.html">
                    read more
                </a>
            </div>
            <div class="post-extras">
                <div class="text-center">
                                                        <span class="post-category">
                        <a href="post.html">
                            <i class="fa fa-folder-open"></i>
                            Posts
                        </a>
                    </span>
                                                        <span class="post-tags">
                        <i class="fa fa-tags"></i>
                        
                            <a href="post.html">
                                design,
                            </a>
                        
                        
                            <a href="post.html">
                                blog
                            </a>
                        
                        
                        
                        </span>
                </div>
                <div class="text-center">
                                                        <span class="post-link">
                        <a href="post.html">
                            <i class="fa fa-comments"></i>
                            6 comments
                        </a>
                    </span>
                </div>
            </div>
        </article>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
    #}
{% endblock %}