{% extends 'layouts/main.twig' %}

{% block page_event %}active{% endblock %}
{% block page_title %}Events, parties & live concerts in {{ page.location.title }}{% endblock %}
{% block page_title_prefix %}{% endblock %}
{% block page_description %}List of events in {{ page.location.title }}. Nightlife, best parties and concerts in {{ page.location.title }}, event listings and reviews.{% endblock %}
{% block page_base_href %}/en{% endblock %}
{% block page_controller %}LayoutController{% endblock %}
{% block page_ng_init %}{% endblock %}
{% block page_footer_class %}swatch-beige-black{% endblock %}

{% block page_content %}
    <section class="section swatch-beige-black">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline super hairline" style="line-height: 48px;">
                    Events in {{ page.location.title }}
                </h1>
            </header>
        </div>
    </section>

    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor hidden-xs hidden-sm" height="100%" preserveAspectRatio="none" version="1.1"
                 viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z"
                      stroke-width="0"></path>
            </svg>
            <svg class="decor visible-xs visible-sm" height="100%" preserveAspectRatio="none" version="1.1"
                 viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L5 60 L10 100 L5 60 L10 100 L15 60 L20 100 L25 60 L30 100 L35 60 L40 100 L45 60 L50 100 L55 60 L60 100 L65 60 L70 100 L75 60 L80 100 L85 60 L90 100 L95 60 L100 100"></path>
            </svg>
        </div>
        <div class="container">
            {#<ul class="isotope-filters-multiple small-screen-center">
                <li>
                    <a class="pseudo-border active" data-filter="*" href="#">all</a>
                </li>
            </ul>#}
            <div class="row">
                <ul class="list-unstyled isotope">
                {% for index, event in page.eventList %}
                    <li class="col-md-6 post-item isotope-item">
                        <div class="post swatch-black-beige">
                            <article class="post-showinfo event-container">
                                <div class="event-cover">
                                    <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}" target="_self">
                                        <img class="event-cover-image event-cover-opacity" src="{{ event.cover.small }}"/>
                                    </a>
                                </div>
                                <div class="event">
                                    <div class="event-artist col-md-4 col-xs-6">
                                        <div id="slider-flex-{{ index }}"
                                             class="flexslider text-left feature-slider"
                                             data-flex-speed="7000"
                                             data-flex-animation="slide"
                                             data-flex-controls="hide"
                                             {% if event.artistList|length > 1 %}
                                                 data-flex-directions="show"
                                                 data-flex-slideshow="true"
                                             {% else %}
                                                 data-flex-directions="hide"
                                                 data-flex-slideshow="false"
                                             {% endif %}
                                             data-flex-controlsalign="center"
                                             data-flex-captionhorizontal="alternate"
                                             data-flex-captionvertical="bottom"
                                             data-flex-controlsposition=""
                                             data-flex-directions-type="">
                                            <ul class="slides">
                                            {% for artist in event.artistList %}
                                                <li>
                                                    <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}" target="_self">
                                                        <img src="{{ artist.cover.small|default('/assets/images/dj_silhouette_square.png') }}"
                                                             alt="{{ artist.title }}"
                                                             class="img-circle"
                                                             width="120"
                                                             height="120" />
                                                    </a>
                                                    <div class="artist-name text-center">
                                                        <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}" target="_self">
                                                            {{ artist.title }}
                                                        </a>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="event-info-box col-md-8 col-xs-6">
                                        <h2>{{ event.title }}</h2>
                                        <p>{{ event.startsAt|localtimestamp(event.tzOffset)|dateShort }} @ {{ event.place.title }}</p>
                                        <p class="hidden-xs event-tag-list">
                                        {% for _tag in event.tagList %}
                                            <a class="btn btn-xs btn-default">{{ _tag.title }}</a>
                                        {% endfor %}
                                        </p>
                                        <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}" target="_self">More info</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>

            <div class="col-md-12 mt-lg">
                <div class="well">
                    We do our best trying to provide a comprehensive list of interesting events in {{ page.location.title }}. However, Boogie Call is ran by volunteers so we could miss something.
                    If you know an interesting live concert or a party happening in {{ page.location.title }} – please log in and add it! Our goal is to be the number one party & concert database for {{ page.location.title }}.
                </div>
            </div>
        </div>
    </section>
{% endblock %}
