{% extends 'layouts/main.twig' %}

{% block page_event %}active{% endblock %}
{% block page_title %}Events in the world{% endblock %}
{% block page_title_prefix %}Events in{% endblock %}
{% block page_description %}Find an interesting event or concert nearby using Boogie Call – a global party database.{% endblock %}
{% block page_base_href %}/en{% endblock %}
{% block page_controller %}SearchController{% endblock %}
{% block page_ng_init %}{% endblock %}
{% block page_footer_class %}swatch-beige-black{% endblock %}

{% block page_content %}
    <section class="section swatch-beige-black">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline super hairline" style="line-height: 48px;">
                    Events in
                    <a href="{{ url(['for': 'get-geo-index-page']) }}"
                       target="_self"
                       class="underline ng-cloak"
                       ng-click="changeLocation($event)"
                       ng-bind-template="[[ entity.title || 'the world' ]]"
                       ng-hide="$loading.eventList"
                    >the world</a>
                    <i class="fa fa-spinner fa-spin ng-cloak" ng-show="$loading.eventList"></i>
                </h1>
            </header>
        </div>
    </section>

    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor hidden-xs hidden-sm" height="100%" preserveAspectRatio="none" version="1.1"
                 viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z"
                      stroke-width="0"></path>
            </svg>
            <svg class="decor visible-xs visible-sm" height="100%" preserveAspectRatio="none" version="1.1"
                 viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L5 60 L10 100 L5 60 L10 100 L15 60 L20 100 L25 60 L30 100 L35 60 L40 100 L45 60 L50 100 L55 60 L60 100 L65 60 L70 100 L75 60 L80 100 L85 60 L90 100 L95 60 L100 100"></path>
            </svg>
        </div>
        <div class="container ng-cloak" ng-hide="$loading.eventList">
            <div class="row ng-cloak" ng-hide="search.eventList.length">
                <blockquote class="fancy-blockquote">
                    <div class="col-md-2 col-md-offset-2 mr-xlg">
                        <div class="box-round box-big">
                            <div class="box-dummy"></div>
                <span class="box-inner">
                    <img alt="" class="img-circle" src="/assets/images/design/custom-icons/custom-icon-search.png">
                </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>Oh sorry, we don't have any events in your city listed yet.</p>
                        <p>But it would make us happy if you could add one! ;-)</p>
                    </div>
                </blockquote>
            </div>
            <ul class="isotope-filters-multiple small-screen-center ng-cloak" ng-show="search.eventList.length">
                <li>
                    <a class="pseudo-border active" data-filter="*" href="#">all</a>
                </li>
                <li ng-repeat="filter in search.filterList track by filter.id">
                    <a
                        class="pseudo-border"
                        ng-attr-data-filter-group="[[ filter.group ]]"
                        ng-attr-data-filter=".[[ filter.id ]]"
                        ng-bind="filter.title"
                        ng-click=""
                    ></a>
                </li>
            </ul>
            <div class="row ng-cloak" ng-show="search.eventList.length">
                <ul class="list-unstyled isotope ng-cloak" isotope-container="isotope-container">
                    <li
                            ng-repeat="event in search.eventList|orderBy:'orderId' track by event.id"
                            ng-class="event.filterClassList"
                            isotope-item=""
                            class="col-md-6 post-item isotope-item"
                            >
                        <div class="post swatch-red-white">
                            <article class="post-showinfo event-container">
                                <div class="event-cover">
                                    <a bc-href="{{ url(['for': 'get-event-page', 'eventId': '{eventId}']) }}"
                                       ng-attr-event-id="[[ event.id ]]"
                                       target="_self"
                                            ><img class="event-cover-image event-cover-opacity"
                                                  ng-src="[[ event.cover.small ]]"/></a>
                                </div>
                                <div class="event">
                                    <div class="event-artist col-md-4 col-xs-6">
                                        <div ng-attr-id="slider-flex-[[$index]]"
                                             class="flexslider text-left feature-slider" data-flex-speed="7000"
                                             data-flex-animation="slide"
                                             data-flex-controls="hide"
                                             ng-attr-data-flex-directions="[[ event.artistList.length > 1 ? 'show' : 'hide' ]]"
                                             data-flex-controlsalign="center"
                                             data-flex-captionhorizontal="alternate"
                                             ng-attr-data-flex-slideshow="[[ event.artistList.length > 1 ]]"
                                             data-flex-captionvertical="bottom"
                                             data-flex-controlsposition="" data-flex-directions-type="">
                                            <ul class="slides">
                                                <li ng-repeat="artist in event.artistList track by artist.id">
                                                    <a bc-href="{{ url(['for': 'get-event-page', 'eventId': '{eventId}']) }}"
                                                       ng-attr-event-id="[[ event.id ]]"
                                                       target="_self"
                                                            >
                                                        <img ng-src="[[ artist.cover.small|default:'/assets/images/dj_silhouette_square.png' ]]"
                                                             ng-attr-alt="[[ artist.title ]]"
                                                             class="img-circle"
                                                             width="120"
                                                             height="120"
                                                                />
                                                    </a>

                                                    <div class="artist-name text-center">
                                                        <a bc-href="{{ url(['for': 'get-event-page', 'eventId': '{eventId}']) }}"
                                                           ng-attr-event-id="[[ event.id ]]"
                                                           ng-bind="artist.title"
                                                           target="_self"></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="event-info-box col-md-8 col-xs-6">
                                        <div class="line-ellipsis"><h2 ng-bind="event.title"></h2></div>
                                        <p ng-bind-template="[[ event.startsAt|localtimestamp:event.tzOffset|momentDate:'DD MMMM' ]] @ [[ event.place.title ]]"></p>

                                        <p class="hidden-xs event-tag-list">
                                            <a ng-repeat="tag in event.tagList track by tag.id"
                                               class="btn btn-xs btn-default" ng-bind="tag.title"></a>
                                        </p>

                                        <p class="distance ng-cloak" ng-if="$position.current">
                                            <i class="fa fa-location-arrow"></i>[[
                                            event.place|distance:$position.current.coords|formatDistance ]]
                                        </p>
                                        <a bc-href="{{ url(['for': 'get-event-page', 'eventId': '{eventId}']) }}"
                                           ng-attr-event-id="[[ event.id ]]"
                                           target="_self"
                                                >More info</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </article>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

{% endblock %}
