{% extends 'layouts/main.twig' %}

{% block page_artist %}active{% endblock %}
{% block page_title %}{{ page.artist.title }}: Tour dates and live concerts {{ date("Y") }}{% endblock %}
{% block page_description %}Latest information about {{ page.artist.title }}: media links, event listings, tour dates, biography and more! Follow {{ page.artist.title }} on Boogie Call.{% endblock %}
{% block page_thumbnail %}http:{{ page.artist.cover.large|cdn }}{% endblock %}
{% block page_base_href %}/en/artists/{% endblock %}
{% block page_controller %}ArtistController{% endblock %}
{% block page_ng_init %}{% if page.access.canUpdate %}entity = {{ page.artist|json_encode|escape_attr }}{% endif %}{% endblock %}

{% block page_content %}

<section class="section swatch-beige-black text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="box-round box-extrahuge box-hex flat-shadow">
                    <div class="box-dummy"></div>
                    <figure class="box-inner" ng-hide="editor.cover.source">
                        {% if page.access.canUpdate %}
                        <img ng-src="[[ entity.cover.large|default:'/assets/images/dj_silhouette.png' ]]" />
                        <figcaption class="box-caption ng-cloak">
                            <label for="inputImage" class="fa fa-upload">
                                <input type="file" id="inputImage" file-model="editor.cover.source">
                            </label>
                        </figcaption>
                        {% else %}
                            <img alt="{{ page.artist.title }}"
                                 src="{{ page.artist.cover.large|default('/assets/images/dj_silhouette.png') }}" />
                        {% endif %}
                    </figure>
                    {% if page.access.canUpdate %}
                    <figure class="box-inner ng-cloak" ng-show="editor.cover.source">
                        <img-crop
                            image="editor.cover.source"
                            result-image="editor.cover.target"
                            result-image-size="600"
                            on-cancel="editor.cover.source = null"
                            on-submit="updateEntityCover(editor.cover.target)"
                        ></img-crop>
                    </figure>
                    {% endif %}
                    <div class="hex-right"></div>
                    <div class="hex-left"></div>
                </div>
                {% if page.access.canUpdate %}
                <h1
                    class="no-margin"
                    ng-model="entity.title"
                    contenteditable="{{ page.access.canUpdate|string }}"
                    placeholder="Title here..."
                    on-blur="updateEntity()"
                    ng-class="{
                        'ng-invalid-required': editor.ngForm.title.$error.required,
                        'ng-invalid-minlength': editor.ngForm.title.$error.minlength,
                        'ng-invalid-maxlength': editor.ngForm.title.$error.maxlength
                    }"
                >{{ page.artist.title }}</h1>
                <input
                    type="hidden"
                    name="title"
                    ng-model="entity.title"
                    ng-required="true"
                    ng-minlength="{{ page.consts.ARTIST_TITLE_MIN_LENGTH }}"
                    ng-maxlength="{{ page.consts.ARTIST_TITLE_MAX_LENGTH }}"
                >
                <h1>
                    <small
                        class="block"
                        ng-model="entity.hometown"
                        contenteditable="{{ page.access.canUpdate|string }}"
                        placeholder="Hometown here..."
                        on-blur="updateEntity()"
                        ng-class="{
                            'ng-invalid-required': editor.ngForm.hometown.$error.required,
                            'ng-invalid-minlength': editor.ngForm.hometown.$error.minlength,
                            'ng-invalid-maxlength': editor.ngForm.hometown.$error.maxlength
                        }"
                    >{{ page.artist.hometown }}</small>
                    <input
                        type="hidden"
                        name="hometown"
                        ng-model="entity.hometown"
                        ng-required="true"
                        ng-minlength="{{ page.consts.ARTIST_HOMETOWN_MIN_LENGTH }}"
                        ng-maxlength="{{ page.consts.ARTIST_HOMETOWN_MAX_LENGTH }}"
                    >
                </h1>
                <div
                    class="lead margin-top-45"
                    ng-model="entity.intro" 
                    contenteditable="{{ page.access.canUpdate|string }}"
                    placeholder="Intro here..." 
                    on-blur="updateEntity()"
                    ng-class="{
                        'ng-invalid-maxlength': editor.ngForm.intro.$error.maxlength
                    }"
                >{{ page.artist.intro }}</div>
                <input
                    type="hidden"
                    name="intro"
                    ng-model="entity.intro"
                    ng-maxlength="{{ page.consts.ARTIST_INTRO_MAX_LENGTH }}"
                >
                <div
                    class="lead"
                    ng-model="entity.about"
                    contenteditable="{{ page.access.canUpdate|string }}"
                    multiline="true"
                    placeholder="About here..."
                    on-blur="updateEntity()"
                    ng-class="{
                        'ng-invalid-maxlength': editor.ngForm.about.$error.maxlength
                    }"
                >{{ page.artist.about }}</div>
                <input
                    type="hidden"
                    name="about"
                    ng-model="entity.about"
                    ng-maxlength="{{ page.consts.ARTIST_ABOUT_MAX_LENGTH }}"
                >
                <ul
                    ng-class="{'editing': editor.linkList.active }"
                    ng-click-outside="updateEntityLinkListIfActive()"
                    class="list-inline text-center social-icons social-simple editable ng-cloak">
                    <li ng-repeat="link in entity.linkList" ng-hide="link.hide">
                        <a ng-href="[[ link.href ]]" ng-click="clickLink($event, link)" target="_blank">
                            <i class="fa" ng-class="getLinkClass(link, 'fa-', 'gear', 'plus-circle', 'link')"></i>
                        </a>
                        <input
                            type="url"
                            placeholder="Social link here..."
                            ng-model="link.href"
                            ng-maxlength="{{ page.consts.LINK_HREF_MAX_LENGTH }}"
                        />
                    </li>
                </ul>
                {% else %}
                <h1 class="no-margin">
                    {{ page.artist.title }}
                    <small class="block">{{ page.artist.hometown }}</small>
                </h1>
                <div class="lead margin-top-45">{{ page.artist.intro }}</div>
                <div class="lead">{{ page.artist.about }}</div>
                <ul class="list-inline text-center social-icons social-simple ng-cloak">
                {% for index, link in page.artist.linkList %}
                    {% if not link.hide %}
                    <li>
                        <a href="{{ link.href }}" target="_blank">
                            <i class="fa fa-{{ link.site }}"></i>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<section class="section swatch-black-beige has-top">
<div class="decor-top">
    <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
    </svg>
</div>
<div class="container">
<ul class="isotope-filters small-screen-center">
    <li>
        <a class="pseudo-border active" data-filter="*" href="#">all</a>
    </li>
    <li>
        <a class="pseudo-border" data-filter=".filter-images" href="#">photos</a>
    </li>
    <li>
        <a class="pseudo-border" data-filter=".filter-audios" href="#">audios</a>
    </li>
    <li>
        <a class="pseudo-border" data-filter=".filter-videos" href="#">videos</a>
    </li>
</ul>
<div class="row">
<ul class="list-unstyled isotope no-transition">
    <li class="col-md-4 post-item isotope-item filter-videos">
        <div class="grid-post swatch-red-white">
            <article class="post post-showinfo">
                <div class="post-media overlay">
                    <a ng-click="toggleCreateEntityPostDialog($event, '{{ page.artist.id }}')" class="feature-image hover-animate">
                        <img alt="some image" src="/assets/images/blank_frame.png">
                        <i class="fa fa-plus-circle fa-5x"></i>
                    </a>
                </div>
                <div class="post-head small-screen-center">
                    <h2 class="post-title">
                        <a ng-click="toggleCreateEntityPostDialog($event, '{{ page.artist.id }}')">
                            Post a video!
                        </a>
                    </h2>
                </div>
            </article>
        </div>
    </li>
    <li ng-repeat="post in entity.postList track by post.id"
        ng-class="{
            'filter-images': post.type == 'Image',
            'filter-audios': post.type == 'Audio',
            'filter-videos': post.type == 'Video'
        }"
        class="col-md-4 post-item isotope-item filter-videos ng-cloak">
        <div class="grid-post swatch-red-white">
            <article class="post post-showinfo">
                <div class="post-media overlay ng-cloak" ng-if="post.type == 'Image'">
                    <a class="feature-image magnific hover-animate" ng-href="[[ post.href ]]" ng-attr-title="[[ post.title ]]">
                        <img alt="some image" ng-src="[[ post.cover ]]">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
                <div class="post-media overlay nopadding ng-cloak" ng-if="post.type == 'Audio' && post.source == 'soundcloud'">
                    <iframe width="100%"
                            height="300"
                            scrolling="no"
                            frameborder="no"
                            soundcloud-src="[[ post.href ]]"
                    ></iframe>
                </div>
                <audio controls="" preload="auto" style="width:100%;" class="ng-cloak" ng-if="post.type == 'Audio' && post.source == 'direct'">
                    <source ng-src="[[ post.href ]]">
                </audio>
                <div class="post-media overlay ng-cloak" ng-if="post.type == 'Video'">
                    <a class="feature-image magnific-youtube hover-animate" ng-href="[[ post.href ]]" ng-attr-title="[[ post.title ]]">
                        <img alt="" ng-src="[[ post.cover ]]">
                        <i class="fa fa-play"></i>
                    </a>
                </div>
                <div class="post-head small-screen-center">
                    <h2 class="post-title" ng-bind="post.title"></h2>
                    <small class="post-author">
                        <a ng-bind="post.author.title"></a>
                    </small>
                    <small class="post-date" ng-bind="post.postedAt|ago"></small>
                    <div class="post-icon flat-shadow flat-hex">
                        <div class="hex hex-big">
                            <i class="fa"
                               ng-class="{
                                 'fa-camera': post.type == 'Image',
                                 'fa-volume-up': post.type == 'Audio',
                                 'fa-film': post.type == 'Video'
                               }"
                            ></i>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </li>
{% for post in page.postList %}
    {% if post.type == 'Image' %}
        {% set filter = 'filter-images' %}
        {% set icon = 'fa-camera' %}
    {% elseif post.type == 'Audio' %}
        {% set filter = 'filter-audios' %}
        {% set icon = 'fa-headphones' %}
    {% elseif post.type == 'Video' %}
        {% set filter = 'filter-videos' %}
        {% set icon = 'fa-film' %}
    {% endif %}
    <li class="col-md-4 post-item {{ filter }} isotope-item">
        <div class="grid-post swatch-red-white">
            <article class="post post-showinfo">
                {% if post.type == 'Image' %}
                    <div class="post-media overlay">
                        <a class="feature-image magnific hover-animate" href="{{ post.href }}" title="{{ post.title }}">
                            <img alt="some image" src="{{ post.cover }}">
                            <i class="fa fa-search-plus"></i>
                        </a>
                    </div>
                {% elseif post.type == 'Audio' %}
                    {% if post.source == 'soundcloud' %}
                    <div class="post-media overlay nopadding">
                        <iframe width="100%"
                                height="300"
                                scrolling="no"
                                frameborder="no"
                                src="https://w.soundcloud.com/player/?url={{ post.href|url_encode }}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                        ></iframe>
                    </div>
                    {% else %}
                    <audio controls="" preload="auto" style="width:100%;">
                        <source src="{{ post.href }}">
                    </audio>
                    {% endif %}
                {% elseif post.type == 'Video' %}
                    <div class="post-media overlay">
                        <a class="feature-image magnific-youtube hover-animate" href="{{ post.href }}" title="{{ post.title }}">
                            <img alt="" src="{{ post.cover }}">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                {% endif %}
                <div class="post-head small-screen-center">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <small class="post-author">
                        <a href="{{ 'profiles/' ~ post.author.id }}">{{ post.author.title }}</a>
                    </small>
                    <small class="post-date">{{ post.postedAt|ago }}</small>
                    <div class="post-icon flat-shadow flat-hex">
                        <div class="hex hex-big">
                            <i class="fa {{ icon }}"></i>
                        </div>
                    </div>
                </div>
                {#
                <div class="bordered post-extras text-center">
                    <div class="text-center">
                                                <span class="post-category">
                                                    <a href="post.html">
                                                        <i class="fa fa-folder-open"></i>
                                                        Flat world
                                                    </a>
                                                </span>
                                                <span class="post-tags">
                                                    <i class="fa fa-tags"></i>

                                                    <a href="post.html">
                                                        Design
                                                    </a>




                                                </span>
                                                <span class="post-link">
                                                    <a href="post.html">
                                                        <i class="fa fa-comments"></i>
                                                        2 comments
                                                    </a>
                                                </span>
                    </div>
                </div>
                #}
            </article>
        </div>
    </li>
{% endfor %}
</ul>
</div>
</div>
</section>

<section class="section swatch-beige-black has-top">
    <div class="decor-top">
        <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
        </svg>
    </div>
    <div class="container ng-cloak" ng-init="tab = 'upcoming'">
        <header class="section-header underline">
            <h1 class="headline super hairline">Tour dates</h1>
        </header>

        <div class="row">
            <div class="tabbable tab-pills col-md-12 clearfix">
                <ul class="nav nav-pills nav-stacked col-md-2">
                    <li class="active">
                        <a data-toggle="tab" ng-click="tab = 'upcoming'">
                            Upcoming
                            <span class="badge pull-right">{{ page.upcomingEventCount }}</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" ng-click="tab = 'past'">
                            Past
                            <span class="badge pull-right">{{ page.pastEventCount }}</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content col-md-10">
                    <div class="tab-pane" id="pill-tab1-b" ng-class="{active: tab == 'upcoming'}">
                        <h3>Upcoming parties with {{ page.artist.title }}</h3>
                        {% for event in page.upcomingEventList %}
                        <p>
                            {{ event.startsAt|localtimestamp(event.tzOffset)|date }}:
                            <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}">{{ event.title }}</a>
                            @ {{ event.place.title }}, {{ event.place.address }}
                            {#<small class="post-date">5 km from you</small></p>#}
                        </p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="pill-tab2-b" ng-class="{active: tab == 'past'}">
                        <h3>Past parties with {{ page.artist.title }}</h3>
                        {% for event in page.pastEventList %}
                        <p>
                            {{ event.startsAt|localtimestamp(event.tzOffset)|date }}:
                            <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}">{{ event.title }}</a>
                            @ {{ event.place.title }}, {{ event.place.address }}
                            {#<small class="post-date">5 km from you</small></p>#}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
