<!DOCTYPE html>
<html
    lang="en"
    ng-app="bc"
    ng-controller="{% block page_controller %}{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% block page_thumbnail %}{% endblock %}"/>
    <meta name="description" content="{% block page_description %}{% endblock %}">
    <title ng-bind-template="[[ page.prefix ]] [[ page.title ]] [[ page.postfix ]]"
           prefix="{% block page_title_prefix %}{% endblock %}"
           postfix="@ BoogieCall"
    >{% block page_title %}{% endblock %} @ BoogieCall</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico" />
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png" />
    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">
    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">
    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
    <link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link href="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ '/assets/css/angular-datepicker.min.css'|cdn }}" media="screen">
    {{ css(
        '/assets/css/ng-img-crop.css',
        '/assets/css/bootstrap.css',
        '/assets/css/theme.css',
        '/assets/css/color-defaults.min.css',
        '/assets/css/swatch-beige-black.min.css',
        '/assets/css/swatch-black-beige.min.css',
        '/assets/css/datepicker3.css',
        '/assets/css/app.css'
    ) }}
    <link rel="stylesheet" href="{{ '/assets/css/fonts.min.css'|cdn }}" media="screen">
    <script>(function() {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '1430453337234929']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1430453337234929&amp;ev=PixelInitialized" /></noscript>
    <base href="{% block page_base_href %}{% endblock %}">
</head>
<body>
<toaster-container toaster-options="{'time-out': 1000, 'close-button':true}"></toaster-container>
<div id="fb-root"></div>
<div id="id-pickadate-container"></div>
<header id="masthead" class="navbar navbar-sticky swatch-black-beige" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".main-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ url(['for': 'get-search-page']) }}" target="_self" class="navbar-brand">
                Boogie Call
            </a>
        </div>
        <nav class="collapse navbar-collapse main-navbar" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events</a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ url(['for': 'get-search-page']) }}" target="_self">Nearby</a>
                        </li>
                        <li>
                            <a href="{{ url(['for': 'get-geo-index-page']) }}" target="_self">Worldwide</a>
                        </li>
                    </ul>
                </li>
                <li class="{% block page_place %}{% endblock %}">
                </li>
                <li class="{% block page_artist %}{% endblock %}">
                </li>
                <li class="{% block page_about %}{% endblock %}">
                    <a href="{{ url(['for': 'get-about-page']) }}" target="_self">About</a>
                </li>
                <li class="hidden-xs hidden-sm">
                    <a class="btn btn-success text-left" ng-click="toggleCreateEventDialog($event)">Add event</a>
                </li>
                <li class="hidden-md hidden-lg">
                    <a class="btn btn-success text-left" id="add-event-button" data-toggle="collapse" data-target=".main-navbar" ng-click="toggleCreateEventDialog($event)">Add event</a>
                </li>
                <li class="dropdown {% block page_user %}{% endblock %}">
                    {% if not page.user %}
                    <a class="btn btn-info text-left" ng-click="signinFacebook($event)">
                        &nbsp;<i class="fa fa-facebook-square"></i>&nbsp;&nbsp;Sign in&nbsp;
                    </a>
                    {% elseif not page.user.eventList %}
                        <a href="#dashboard">
                            {{ page.user.profile.title }}
                        </a>
                    {% else %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            {{ page.user.profile.title }}
                        </a>
                        <ul class="dropdown-menu">
                            <!--li>
                                <a href="#dashboard">Dashboard</a>
                            </li-->
                            {% for event in page.user.eventList %}
                            <li>
                                <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}" target="_self">
                                    {{ event.title }}
                                </a>
                            </li>
                            {% endfor %}
                            {% for place in page.user.placeList %}
                            <li>
                                <a href="{{ url(['for': 'get-place-page', 'placeId': place.id]) }}" target="_self">
                                    {{ place.title }}
                                </a>
                            </li>
                            {% endfor %}
                            {% for artist in page.user.artistList %}
                            <li>
                                <a href="{{ url(['for': 'get-artist-page', 'artistId': artist.id]) }}" target="_self">
                                    {{ artist.title }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
<div id="content" role="main" ng-form="editor.ngForm" ng-init="{% block page_ng_init %}{% endblock %}">

    {% block page_content %}{% endblock %}

    <footer id="footer" role="contentinfo">
        <section class="section {% block page_footer_class %}swatch-black-beige{% endblock %} has-top">
            <div class="decor-top">
                <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
                </svg>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="swatch_social-2" class="sidebar-widget widget_swatch_social">
                            <ul class="unstyled inline small-screen-center social-icons social-background social-big">
                                <li>
                                    <a href="https://itunes.apple.com/us/app/boogie-call-find-a-party/id954161151">
                                        <i class="fa fa-apple"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://play.google.com/store/apps/details?id=com.menara.boogiecall" title="Boogie Call mobile app for Android">
                                        <i class="fa fa-android"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="text-4" class="sidebar-widget widget_text">
                            <div class="textwidget">
                                <a href="http://www.menara.com.au">Menara Solutions Pty Ltd</a> 2014-2015&nbsp;&nbsp;&nbsp;
                                <a href="https://www.facebook.com/BoogieCallCom">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                &nbsp;&nbsp;
                                <a href="https://google.com/+Boogiecall">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <br />
                                <div class="fb-like" data-href="https://www.facebook.com/BoogieCallCom" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>
</div>
<a class="go-top hex-alt" href="javascript:void(0)">
    <i class="fa fa-angle-up"></i>
</a>
<script type="text/ng-template" id="/templates/events/create.html">
    <section ng-form="createEventForm">
        <header class="modal-heading">
            <h2 class="modal-title first-step">Submit new event</h2>
        </header>
        <div class="modal-body">
                <div class="col-xs-12 col-md-4 text-right">
                    <p class="form-label second-step">How is your party called?</p>
                </div>
                <div class="col-xs-12 col-md-8">
                    <p class="third-step">
                        <input
                            type="text"
                            name="title"
                            class="form-control"
                            placeholder="Event title here..."
                            ng-model="editor.entity.title"
                            ng-required="true"
                            ng-minlength="{{ page.consts.EVENT_TITLE_MIN_LENGTH }}"
                            ng-maxlength="{{ page.consts.EVENT_TITLE_MAX_LENGTH }}"
                        />
                    </p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-md-4 text-right">
                    <p class="form-label second-step">When is it happening?</p>
                </div>
                <div class="col-xs-12 col-md-8">
                    <datepicker
                        ng-model="editor.date"
                        min-date="editor.minDate"
                        format-day="d"
                        datepicker-fix=""
                        show-weeks="false"
                        class="well well-sm"
                    ></datepicker>
                </div>
        </div>
        <footer class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm" ng-click="submit()" ng-disabled="createEventForm.$invalid">
                        <span ng-show="$secured.token">Create</span>
                        <span ng-hide="$secured.token"><i class="fa fa-facebook-square"></i>&nbsp;Sign in and create</span>
                    </button>
                    <button class="btn btn-default modal-dismiss" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</script>
<script type="text/ng-template" id="/templates/posts/create.html">
    <section ng-form="editor.ngForm">
        <header class="modal-heading">
            <h2 class="modal-title first-step">Post media</h2>
        </header>
        <div class="modal-body">
            <input type="url"
                   name="href"
                   class="form-control"
                   placeholder="Media link here..."
                   ng-model="editor.entity.href"
                   ng-required="true"
                   ng-minlength="{{ page.consts.POST_HREF_MIN_LENGTH }}"
                   ng-maxlength="{{ page.consts.POST_HREF_MAX_LENGTH }}" />
        </div>
        <footer class="modal-footer">
            <div class="row">
                <div class="col-md-12 text-right">
                    <button class="btn btn-success modal-confirm" ng-click="submit()" ng-disabled="editor.ngForm.$invalid">
                        <span ng-show="$secured.token">Publish</span>
                        <span ng-hide="$secured.token"><i class="fa fa-facebook-square"></i>&nbsp;Sign in and publish</span>
                    </button>
                    <button class="btn btn-default modal-dismiss" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </footer>
    </section>
</script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular-animate.min.js"></script>
<script src="//maps.googleapis.com/maps/api/js?sensor=false&language=en&v=3.17"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.4/toaster.js"></script>
<script src="/en/config.js" type="text/javascript"></script>
{{ js(
    '/assets/js/packages.min.js',
    '/assets/js/angular-easyfb.min.js',
    '/assets/js/angular-cookie.js',
    '/assets/js/angular-isotope.js',
    '/assets/js/angular-menara.js',
    '/assets/js/ui-bootstrap-custom-tpls-0.12.0.min.js',
    '/assets/js/angular-img-crop.js',
    '/assets/js/theme.min.js',
    '/assets/js/moment.min.js',
    '/assets/js/app.jquery.js',
    '/assets/js/app.angular.js'
) }}
<script src="{{ '/assets/js/jquery-pickadate.min.js'|cdn }}"></script>
</body>
</html>
