{% extends 'layouts/main.twig' %}

{% block page_place %}active{% endblock %}
{% block page_title %}{{ page.place.title }}{% endblock %}
{% block page_description %}{{ page.place.title }} events and information. {{ page.place.intro }}{% endblock %}
{% block page_base_href %}/en/places/{% endblock %}
{% block page_controller %}PlaceController{% endblock %}
{% block page_ng_init %}entity = {{ page.place|json_encode|escape_attr }}{% endblock %}

{% block page_content %}
    <section class="section swatch-beige-black section-nopadding">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <entity-map
                        class="google-map"
                        id="map-{{ page.place.id }}"
                        entity="entity"
                        editable="{{ page.access.canUpdate|string }}"
                        on-position-changed="updateEntity()"
                    ></entity-map>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
            </svg>
        </div>

        <div class="container">
            <header class="section-header no-underline">
                <h1
                    class="headline hyper hairline"
                    ng-model="entity.title"
                    contenteditable="{{ page.access.canUpdate|string }}"
                    placeholder="Title here..."
                    on-blur="updateEntity()"
                    ng-class="{
                        'ng-invalid-required': editor.ngForm.title.$error.required,
                        'ng-invalid-minlength': editor.ngForm.title.$error.minlength,
                        'ng-invalid-maxlength': editor.ngForm.title.$error.maxlength
                    }"
                >{{ page.place.title }}</h1>
                <input
                    type="hidden"
                    name="title"
                    ng-model="entity.title"
                    ng-required="true"
                    ng-minlength="{{ page.consts.PLACE_TITLE_MIN_LENGTH }}"
                    ng-maxlength="{{ page.consts.PLACE_TITLE_MAX_LENGTH }}"
                >
                <h2
                    class="mb-sm"
                    ng-model="entity.address"
                    contenteditable="{{ page.access.canUpdate|string }}"
                    placeholder="Address here..."
                    on-blur="updateEntity()"
                    ng-class="{
                        'ng-invalid-maxlength': editor.ngForm.address.$error.maxlength
                    }"
                >{{ page.place.address }}
                </h2><a href="https://maps.google.com/?saddr=Current+Location&daddr={{ page.place.latitude }},{{ page.place.longitude }}"><i class="fa fa-hand-o-right"></i> &nbsp; Directions</a>
                <input
                    type="hidden"
                    name="address"
                    ng-model="entity.address"
                    ng-maxlength="{{ page.consts.PLACE_ADDRESS_MAX_LENGTH }}"
                >
                <div
                    class="mt-lg"
                    ng-model="entity.intro"
                    contenteditable="{{ page.access.canUpdate|string }}"
                    multiline="true"
                    placeholder="Intro here..."
                    on-blur="updateEntity()"
                    ng-class="{
                        'ng-invalid-maxlength': editor.ngForm.intro.$error.maxlength
                    }"
                >{{ page.place.intro }}</div>
                <input
                    type="hidden"
                    name="intro"
                    ng-model="entity.intro"
                    ng-maxlength="{{ page.consts.PLACE_INTRO_MAX_LENGTH }}"
                >

            </header>

            {% if page.access.canUpdate %}
            <ul
                ng-class="{'editing': editor.linkList.active }"
                ng-click-outside="updateEntityLinkListIfActive()"
                class="list-inline text-center social-icons social-simple editable ng-cloak">
                <li ng-repeat="link in entity.linkList" ng-hide="link.hide">
                    <a ng-href="[[ link.href ]]" ng-click="clickLink($event, link)" target="_blank">
                        <i class="fa" ng-class="getLinkClass(link, 'fa-', 'gear', 'plus-circle', 'link')"></i>
                    </a>
                    <input
                        type="url"
                        placeholder="Social link here..."
                        ng-model="link.href"
                        ng-maxlength="{{ page.consts.LINK_HREF_MAX_LENGTH }}"
                        />
                </li>
            </ul>
            {% else %}
            <ul class="list-inline text-center social-icons social-simple ng-cloak">
                {% for index, link in page.place.linkList %}
                    {% if not link.hide %}
                    <li>
                        <a href="{{ link.href }}" target="_blank">
                            <i class="fa fa-{{ link.site }}"></i>
                        </a>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </section>

    <section class="section swatch-beige-black has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>

        <div class="container ng-cloak" ng-init="tab = 'upcoming'">
            <header class="section-header underline">
                <h1 class="headline super hairline">Events</h1>
            </header>

            <div class="row">
                <div class="tabbable tab-pills col-md-12 clearfix">
                    <ul class="nav nav-pills nav-stacked col-md-2">
                        <li class="active">
                            <a data-toggle="tab" ng-click="tab = 'upcoming'">
                                Upcoming <span class="badge pull-right">{{ page.upcomingEventCount }}</span>
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" ng-click="tab = 'past'">
                                Past <span class="badge pull-right">{{ page.pastEventCount }}</span>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content col-md-10">
                        <div class="tab-pane" id="pill-tab1-b" ng-class="{active: tab == 'upcoming'}">
                            <h3>Upcoming parties at {{ page.place.title }}</h3>
                            {% for event in page.upcomingEventList %}
                            <p>
                                {{ event.startsAt|localtimestamp(event.tzOffset)|date }}:
                                <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}">{{ event.title }}</a>
                            </p>
                            {% endfor %}
                        </div>
                        <div class="tab-pane" id="pill-tab2-b" ng-class="{active: tab == 'past'}">
                            <h3>Past parties at {{ page.place.title }}</h3>
                            {% for event in page.pastEventList %}
                                <p>
                                    {{ event.startsAt|localtimestamp(event.tzOffset)|date }}:
                                    <a href="{{ url(['for': 'get-event-page', 'eventId': event.id]) }}">{{ event.title }}</a>
                                </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section swatch-beige-black">
        <div class="container">
            <header class="section-header underline">
                <h1 class="headline super hairline">Media</h1>
            </header>

            <div class="row">
                <ul class="list-unstyled isotope no-transition">
                {% for post in page.postList %}
                    {% if post.type == 'Image' %}
                        {% set filter = 'filter-images' %}
                        {% set icon = 'fa-camera' %}
                    {% elseif post.type == 'Audio' %}
                        {% set filter = 'filter-audios' %}
                        {% set icon = 'fa-volume-up' %}
                    {% elseif post.type == 'Video' %}
                        {% set filter = 'filter-videos' %}
                        {% set icon = 'fa-film' %}
                    {% endif %}
                    <li class="col-md-4 nopadding post-item {{ filter }} isotope-item">
                        <div class="grid-gallery swatch-beige-black">
                            <article class="post post-showinfo">
                                {% if post.type == 'Image' %}
                                    <div class="post-media overlay">
                                        <a class="feature-image magnific hover-animate" href="{{ post.href }}" title="{{ post.title }}">
                                            <img alt="some image" src="{{ post.cover }}">
                                            <i class="fa fa-search-plus"></i>
                                        </a>
                                    </div>
                                {% elseif post.type == 'Video' %}
                                    <div class="post-media overlay">
                                        <a class="feature-image magnific-youtube hover-animate" href="{{ post.href }}" title="{{ post.title }}">
                                            <img alt="" src="{{ post.cover }}">
                                            <i class="fa fa-play"></i>
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="post-head small-screen-center">
                                    <div class="post-icon flat-shadow">
                                        <div class="box-round box-mini">
                                            <div class="box-dummy"></div>
                                            <figure class="box-inner">
                                                <a href="#">
                                                    <img class="img-circle" src="{{ post.author.cover.small }}" title="{{ post.author.title }}">
                                                </a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>

        </div>
    </section>
{% endblock %}
