/* Morph Button: Default Styles */

.morph-button {
    position: relative;
    display: block;
    margin: 0 auto;
}

.morph-button > button {
    position: relative;
    border: none;
    background-color: #e7e5d9;
    color: #000000;
    line-height: 80px;
    overflow: hidden;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.morph-button.open > button {
    pointer-events: none;
}

.morph-content {
    pointer-events: none;
}

.morph-button.open .morph-content {
    pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
.morph-button-fixed,
.morph-button-fixed .morph-content {
    height: 90px;
    width: 93px;
}

.morph-button-fixed > button {
    z-index: 1000;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.1s 0.5s;
    transition: opacity 0.1s 0.5s;
}

.morph-button-fixed.open > button {
    opacity: 0;
    -webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}

.morph-button-fixed .morph-content {
    position: fixed;
    z-index: 900;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-fixed.open .morph-content {
    opacity: 1;
}

.morph-button-fixed .morph-content > div {
    visibility: hidden;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
    transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

.morph-button-fixed.open .morph-content > div {
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0.5s;
    transition: opacity 0.3s 0.5s;
}

.morph-button-fixed.active > button {
    z-index: 2000;
}

.morph-button-fixed.active .morph-content {
    z-index: 1900;
}

/* Transitions for overlay button and sidebar button */
.morph-button-overlay .morph-content,
.morph-button-sidebar .morph-content {
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

.morph-button-overlay.open .morph-content,
.morph-button-sidebar.open .morph-content {
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

/* Morph Button Style: Overlay */
.morph-button.morph-button-overlay {
    margin: 50px auto;
}

.morph-button-overlay .morph-content {
    overflow: hidden;
    background: #e85657;
}

.morph-button-overlay.open .morph-content {
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
}

/* Morph Button Style: Modal */
.morph-button-modal::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}

.morph-button-modal.open::before {
    opacity: 1;
    pointer-events: auto;
}

.morph-button-modal.active::before {
    z-index: 1800;
}

.morph-button-modal .morph-content {
    overflow: hidden;
    -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.morph-button-modal.open .morph-content {
    top: 50% !important;
    left: 50% !important;
    margin: -210px 0 0 -300px;
    width: 600px;
    height: 420px;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */
.morph-button.morph-button-modal-1 {
    float: left;
}

.morph-button.morph-button-modal-2,
.morph-button.morph-button-modal-3 {
    display: block;
    float: left;
}

.morph-button-modal-1 > button,
.morph-button-modal-1 .morph-content {
    background-color: #553445;
}

.morph-button-modal-2 > button,
.morph-button-modal-2 .morph-content,
.morph-button-modal-3 > button,
.morph-button-modal-3 .morph-content {
    background-color: #e7e5d9;
    color: #000000;
}

.morph-button-modal-4 {
    display: inline-block;
}

.morph-button-modal-4 > button,
.morph-button-modal-4 .morph-content {
    background-color: #faf1e0;
    color: #553445;
}

.morph-button-modal-4 > button span,
.morph-button-modal-4 .morph-clone {
    padding-left: 10px;
    color: #286f81;
}

.morph-button-modal-4 .morph-clone {
    position: absolute;
    right: 34px;
    bottom: 30px;
    z-index: 100;
    letter-spacing: 1px;
    font-weight: 700;
    -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
    transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
}

.morph-button-modal-4.open .morph-clone,
.no-js .morph-button-modal-4 .morph-clone {
    right: 10px;
    bottom: 10px;
}

.morph-button-modal-1::before {
    background: rgba(240,221,204,0.7);
}

.morph-button-modal-2.open .morph-content {
    margin: -243px 0 0 -320px;
    width: 640px;
    height: 486px;
}

.morph-button-modal-2.open .morph-content > div {
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}

/* Let's add some nice easing for all cases */
.morph-button .morph-content,
.morph-button.open .morph-content {
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
    overflow: hidden;
}

.morph-button-overlay.scroll .morph-content {
    overflow-y: scroll;
}

.morph-button-sidebar.scroll .morph-content {
    overflow: auto;
}

/* No JS fallback: let's hide the button and show the content */
.no-js .morph-button > button {
    display: none;
}

.no-js .morph-button {
    margin: 10px 0;
    float: none;
}

.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
    position: relative;
    width: auto;
    height: auto;
    opacity: 1;
    visibility: visible;
    top: auto;
    left: auto;
    -webkit-transform: none;
    transform: none;
    pointer-events: auto;
}

.no-js .morph-button .morph-content .icon-close {
    display: none;
}

.no-transition {
    -webkit-transition: none !important;
    transition: none !important;
}

/* Media Queries */

@media screen and (max-width: 600px) {
    .morph-button-modal.open .morph-content {
        top: 0% !important;
        left: 0% !important;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
        transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    }
}

@media screen and (max-width: 400px) {
    .morph-button-fixed,
    .morph-button-fixed .morph-content {
        height: 90px;
    }

    .morph-button-fixed > button {
        font-size: 75%;
    }
}

/* Style for overlay */
.content-style-overlay {
    padding: 100px 50px;
    text-align: center;
}

.content-style-overlay h2 {
    margin: 0 0 1em 0;
    padding: 0;
    font-weight: 300;
    font-size: 3em;
}

.content-style-overlay p {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 700px;
    text-align: justify;
    font-weight: 300;
    font-size: 1.5em;
}

.content-style-overlay .icon-close {
    border: 2px solid #f9e1c9;
    border-radius: 50%;
    line-height: 2.8;
}

.content-style-overlay .icon-close:hover {
    border-color: #a50a05;
}

/* Style for text modal */
.content-style-text {
    padding: 60px;
    text-align: left;
}

.content-style-text h2 {
    margin: 0 0 0.5em 0;
    font-weight: 300;
    font-size: 1.85em;
}

.content-style-text p {
    color: rgba(255,255,255,0.5);
    font-weight: 300;
    font-size: 1.15em;
    line-height: 1.4;
}

.content-style-text label {
    padding: 10px;
    color: #f9e1c9;
    font-weight: bold;
}

.content-style-text .icon-close {
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.2);
}

.content-style-text .icon-close:hover {
    color: #f9e1c9;
}

/* Style for form modal */
.panel {
    position: relative;
    text-align: left;
}

.js .panel .modal-dismiss {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
    transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}

.panel .first-step {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
    transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}

.panel .second-step {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.55s, -webkit-transform 0.2s 0.55s;
    transition: opacity 0.2s 0.55s, transform 0.2s 0.55s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}

.panel .third-step {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.75s, -webkit-transform 0.2s 0.75s;
    transition: opacity 0.2s 0.75s, transform 0.2s 0.75s;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}

.panel .form-label {
    font-size: 16px;
    line-height: 24px;
    margin-top: 6px;
}

.morph-button.open .panel h2,
.morph-button.open .panel p,
.morph-button.open .panel .modal-dismiss {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

@media screen and (max-width: 770px) {
    .content-style-overlay {
        font-size: 75%;
    }

    .content-style-overlay .modal-dismiss {
        top: 5px;
        right: 5px;
    }
}
















