.ng-cloak {
    display: none;
}

[ng-click] {
    cursor: pointer;
}

[contenteditable=true] {
    cursor: text;
    z-index: 9999;
}

.margin-top-45 {
    margin-top: 45px;
}

[contenteditable=true]:empty {
    opacity: 0.5;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
}

input.hidden {
    display: inline-block !important;
    visibility: visible !important;
    width: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

label[for] {
    cursor: pointer;
}

h3 {
    margin-bottom: 32px;
}

h3[ng-model="editor.artistList.search"] {
    margin-bottom: 48px;
}

.fa-ul .li-image i {
    font-size: 56px;
}

.ng-invalid-required[contenteditable=true],
.ng-invalid-minlength[contenteditable=true],
.ng-invalid-maxlength[contenteditable=true] {
    border: solid 2px red;
}

/* -- Grid posts -- */
.grid-gallery {
    /* -- Post types -- */
    /* -- Post Media -- */
    /* -- Post Body -- */
    /* -- Post Extras -- */
}
.grid-gallery .post-head, .grid-post .post-body {
    margin-left: 0;
    padding-top: 0;
}
.grid-gallery .post-extras {
    margin-left: 0;
}
.grid-gallery .post-head {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative;
    text-align: center;
}
.grid-gallery .post-title {
    padding-top: 0;
}
.grid-gallery .post-showinfo {
    margin: 0 0 0 0;
}
.grid-gallery .post-showinfo .post-head {
    z-index: 2;
}
.grid-gallery .post-showinfo .post-icon {
    top: -80px;
    left: 85%;
    margin-left: -30px;
    margin-right: 0;
    z-index: 100;
}
.grid-gallery .post-showinfo .post-icon i {
    line-height: 30px;
}
.grid-gallery .post-media {
    padding-top: 48px;
    margin-bottom: 0;
}
.grid-gallery .post-media .feature-image {
    display: block;
    margin-top: -48px;
}
.grid-gallery .post-media .feature-slider, .grid-post .post-media .feature-video, .grid-post .post-media .mejs-audio {
    margin-top: -48px;
    margin-bottom: 0;
}
.grid-gallery .post-body {
    margin-bottom: 0;
}
.grid-gallery .post-extras {
    margin-left: 0;
}
.grid-gallery .post-extras:before {
    position: absolute;
    content: "";
    height: 1px;
    width: 36%;
    left: 50%;
    margin-left: -18%;
    top: 0;
}
.grid-gallery .post-extras:after {
    display: none;
}

/* Useful stuff */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

/* Maps */
.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    left: 10px;
}

/* Toaster */
.toast-top-right {
    top: 102px;
    right: 12px;
}

/* Upload */
.swatch-beige-black .box-inner label, [class*=swatch-] .swatch-beige-black .box-inner label {
    color: #e7e5d9;
}

.box-inner label {
    cursor: pointer;
    font-size: 52px;
    color: white;
    line-height: 1em;
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -0.5em;
}

.box-inner label > input[type=file] {
    display: none;
}

/* Social links */
ul.social-icons.editable {
}

ul.social-icons.editable li {
}

ul.social-icons.editable li input[type='url'] {
    visibility: hidden;
    display: inline-block;
    width: 0;
    background-color: transparent;
}

.swatch-black-beige ul.social-icons.editable li input[type='url'] {
    color: #e7e5d9;
}

.swatch-black-beige ul.social-icons.editable li input[type='url']::-webkit-input-placeholder {
    color: #e7e5d9;
}
.swatch-black-beige ul.social-icons.editable li input[type='url']:-moz-placeholder { /* Firefox 18- */
    color: #e7e5d9;
}
.swatch-black-beige ul.social-icons.editable li input[type='url']::-moz-placeholder {  /* Firefox 19+ */
    color: #e7e5d9;
}
.swatch-black-beige ul.social-icons.editable li input[type='url']:-ms-input-placeholder {
    color: #e7e5d9;
}

ul.social-icons.editable.editing li {
    display: block;
}

ul.social-icons.editable.editing li input[type='url'] {
    visibility: visible;
    width: auto;
}

.upload-cover-button {
    display: block;
    position: absolute;
    font-size: 18px;
    left: 18px;
    top: 18px;
    color: inherit;
    padding: 5px 5px 5px 5px;
}

.upload-cover-button:hover {
    color: #ffffff;
    cursor: pointer;
}

.upload-cover-button > div {
    float: left;
}

.upload-cover-button > span {
    display: none;
}

.upload-cover-button:hover > span {
    display: block;
    float: left;
}

.upload-cover-button label {
    cursor: pointer;
    font-size: 18px;
}

.upload-cover-button label > input[type=file] {
    display: none;
}

/* Pick-a-date */
.picker__holder {
}

/* Misc */
.cursor-grab {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.box-inner i.tools {
    left: 11%;
    width: inherit;
}

header i#id-clear-event-place {
    visibility: hidden;
}

header:hover i#id-clear-event-place {
    visibility: visible;
}

#user-widget-button {
    height: 90px;
    width: 93px;
    background-color: #485b98;
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 16px;
}

#user-widget-button:hover {
    background-color: #586798;
}

.event-cover-opacity {
    opacity: 0.4;
}

.event {
    height: 230px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
}

.event-cover {
    background: #000000;
}

.event-container {
    height: 230px;
    overflow: hidden;
    background-color: #000000;
}

.event-cover img.event-cover-image {
    position: relative;
    display: block;
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.event-container:hover img.event-cover-image {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

.event .event-artist {
    vertical-align: middle;
    margin-top: 40px;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
}

.event .event-artist .flexslider {
    max-width: 160px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.event .event-artist a {
    color: #ffffff;
}

.event .event-artist a:hover {
    color: #cecece;
}

.event .event-info-box {
    color: #ffffff;
    text-align: center;
    padding-top: 45px;
    vertical-align: middle;
    height: 100%;
    overflow: hidden;
}

.event .event-info-box h2 {
    line-height: 25px;
    color: #ffffff;
}
.event .event-info-box .line-ellipsis {
    overflow: hidden;
    height: 75px;
    line-height: 25px;
    margin-bottom: 10px;
}
.event .event-info-box .line-ellipsis:before {
    content:"";
    float: left;
    width: 5px;
    height: 75px;
}
.event .event-info-box .line-ellipsis > *:first-child {
    float: right;
    width: 100%;
    margin-left: -5px;
}

.event .event-info-box > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.event .event-info-box .event-tag-list > a {
    margin: 0 3px;
}

.event .event-info-box .distance {
    color: #c4c0c5;
    font-size: 12px;
    font-style: italic;
    position: absolute;
    bottom: 0;
    right: 10px;
}

@media (max-width: 480px) {
    .event-container {
        height: 230px;
    }

    .event .event-artist {
        margin-top: 20px;
    }

    .event .event-info-box {
        padding-top: 22px;
    }
}

.party {
    height: 150px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 5px;
    padding-right: 5px;
}

.party-cover {
    background: #000000;
}

.party-container {
    max-height: 150px;
    overflow: hidden;
    background-color: #000000;
}

.party-cover img.party-cover-image {
    position: relative;
    display: block;
    max-width: none;
    width: -webkit-calc(100% + 60px);
    width: calc(100% + 60px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-30px,0,0) scale(1.12);
    transform: translate3d(-30px,0,0) scale(1.12);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.party-container:hover img.party-cover-image {
    opacity: 0.5;
    -webkit-transform: translate3d(0,0,0) scale(1);
    transform: translate3d(0,0,0) scale(1);
}

.party .party-artist {
    vertical-align: middle;
    height: 100%;
    display: block;
    float: left;
    text-align: center;
}

.party .party-artist .flexslider {
    max-width: 160px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}

.party .party-artist a {
    color: #ffffff;
}

.party .party-artist a:hover {
    color: #cecece;
}

.party .party-info-box {
    color: #ffffff;
    text-align: center;
    padding-top: 20px;
    vertical-align: middle;
}

.party .party-info-box h2 {
    color: #ffffff;
}

.party .party-info-box > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 30px;
    width: 100%;
    height: 100%;
}

.section-header .headline a {
    border-bottom: 1px dotted #000;
}

.section-header .headline a:hover {
    color: #000000;
    border-bottom: none;
}

/* - Isotope filters - */
.isotope-filters-multiple {
    margin: 0px 0 24px;
    padding-left: 0;
    list-style-type: none;
    font-weight: bold;
    text-transform: uppercase;
}
.isotope-filters-multiple li {
    display: inline-block;
}
.isotope-filters-multiple li a {
    display: inline-block;
    position: relative;
    margin-left: 14px;
    white-space: nowrap;
}
.isotope-filters-multiple li a.active {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    color: #000;
    background-color: #c0ba9a;
    padding-left: 5px;
    padding-right: 5px;
}
.isotope-filters-multiple li a:before {
    content: "";
    height: 14px;
    width: 2px;
    position: absolute;
    top: 4px;
    left: 5px;
}
.isotope-filters-multiple li:first-child a {
    margin-left: 0;
}
.isotope-filters-multiple li:first-child a:before {
    display: none;
}

.modal-dialog {
    margin-top: 100px;
}
.modal-heading {
    padding-top: 10px;
    text-align: center;
}
.modal-footer {
    border-top: none;
}
.box-inner img {
    height: auto;
}
/*.box-list.box-artist-list > li.col-md-2:nth-child(6n+1), .box-list.box-artist-list > li.col-md-3:nth-child(4n+1), .box-list.box-artist-list > li.col-md-4:nth-child(3n+1), .box-list.box-artist-list > li.col-md-6:nth-child(2n+1) {
    clear: none !important;
}*/
.widget_recent_entries a {
    width: -webkit-calc(100% - 48px);
    width: calc(100% - 48px);
    overflow: hidden;
}
.widget_recent_entries small {
    line-height: 16px;
}
.artist-list.box-artist-list .first-item {
    clear: left;
}
