{% extends 'layouts/main.twig' %}

{% block page_event %}active{% endblock %}
{% block page_title %}Events worldwide{% endblock %}
{% block page_title_prefix %}{% endblock %}
{% block page_description %}Events worldwide{% endblock %}
{% block page_base_href %}/en{% endblock %}
{% block page_controller %}LayoutController{% endblock %}
{% block page_ng_init %}{% endblock %}
{% block page_footer_class %}swatch-beige-black{% endblock %}

{% block page_content %}
    <section class="section swatch-beige-black">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline super hairline" style="line-height: 48px;">
                    Events worldwide
                </h1>
            </header>
        </div>
    </section>

    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
            {% for country in page.countryList %}
                <div class="col-md-4 mt-xlg">
                    <h3>{{ country.title }}</h3>
                    <p>
                    {% for city in country.childList %}
                        <a href="{{ url(['for': 'get-event-list-page-by-location', 'locationId': city.id ]) }}" target="_self">
                            Events in {{ city.title }}
                        </a>
                        {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                    </p>
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
