{% extends 'layouts/main.twig' %}

{% block page_about %}active{% endblock %}
{% block page_title %}About{% endblock %}
{% block page_title_prefix %}{% endblock %}
{% block page_description %}About BoogieCall{% endblock %}
{% block page_base_href %}/en{% endblock %}
{% block page_controller %}LayoutController{% endblock %}
{% block page_ng_init %}{% endblock %}
{% block page_footer_class %}swatch-beige-black{% endblock %}

{% block page_content %}
    <section class="section swatch-beige-black">
        <div class="container">
            <div class="row">
                <div class="col-md-6  text-default">
                    <p>
                        <img class="aligncenter size-full wp-image-2322" alt="app" src="/assets/images/design/vector/app.png" width="500" height="800">
                    </p>
                </div>
                <div class="col-md-6  text-default">
                    <h1 class="text-left super hairline bordered-header">
                        Great parties <small>shalt not be missed</small>
                    </h1>
                    <p class="lead text-left">Whether you are traveling or sitting at home, do not miss another great gig. Because life is short.
                        <br>
                    </p>
                    <p class="lead text-left">Boogie Call helps you to find a great concert or a party based on your current geographical location. No need to spend hours googling for interesting events, get a tailor-made list instantly!</p>
                    <p class="lead text-left">Anybody can submit or modify an event, report a mistake or rate a party. Boogie Call is a social, self-organised and self-regulated global database of entertainment events.</p>
                    {% if not page.user %}
                    <p class="lead text-left">Sounds interesting enough? Try it out now:</p>
                    <div class="text-center">
                        <a ng-click="signinFacebook($event)" class="btn btn-info btn-lg  btn-icon-right">
                            Login through Facebook
                            <span class="hex-alt">
                                <i class="fa fa-facebook" data-animation="swing"></i>
                            </span>
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor hidden-xs hidden-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L2 60 L4 100 L6 60 L8 100 L10 60 L12 100 L14 60 L16 100 L18 60 L20 100 L22 60 L24 100 L26 60 L28 100 L30 60 L32 100 L34 60 L36 100 L38 60 L40 100 L42 60 L44 100 L46 60 L48 100 L50 60 L52 100 L54 60 L56 100 L58 60 L60 100 L62 60 L64 100 L66 60 L68 100 L70 60 L72 100 L74 60 L76 100 L78 60 L80 100 L82 60 L84 100 L86 60 L88 100 L90 60 L92 100 L94 60 L96 100 L98 60 L100 100 Z"
                      stroke-width="0"></path>
            </svg>
            <svg class="decor visible-xs visible-sm" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L5 60 L10 100 L5 60 L10 100 L15 60 L20 100 L25 60 L30 100 L35 60 L40 100 L45 60 L50 100 L55 60 L60 100 L65 60 L70 100 L75 60 L80 100 L85 60 L90 100 L95 60 L100 100"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header ">
                <h1 class="headline super hairline">What&#x27;s cool about it?</h1>
                <p class="">We have just started, yet we already have a bunch of useful features for you folks!</p>
            </header>
            <div class="row">
                <ul class="list-unstyled row box-list horizontal-icon-border">
                    <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                        <div class="box-round box-medium">
                            <div class="box-dummy"></div>
                            <a class="box-inner">
                                <i class="fa fa-globe" data-animation="bounce"></i>
                            </a>
                        </div>
                        <h3 class="text-center ">
                            <a>Global</a>
                        </h3>
                        <p class="text-center">
                            Comprehensive global database of parties and concerts. From
                            <a href="{{ url(['for': 'get-event-list-page-by-location', 'locationId': 'berlin']) }}" target="_self">Berlin</a>
                            to
                            <a href="{{ url(['for': 'get-event-list-page-by-location', 'locationId': 'hong-kong']) }}" target="_self">Hong Kong</a>,
                            we have it covered!
                        </p>
                    </li>

                    <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                        <div class="box-round box-medium">
                            <div class="box-dummy"></div>
                            <a class="box-inner">
                                <i class="fa fa-location-arrow" data-animation="swing"></i>
                            </a>
                        </div>
                        <h3 class="text-center ">
                            <a>Location based</a>
                        </h3>
                        <p class="text-center">We detect your location automatically and recommend you the hottest gigs, depending on your taste.</p>
                    </li>

                    <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                        <div class="box-round box-medium">
                            <div class="box-dummy"></div>
                            <a class="box-inner">
                                <i class="fa fa-html5" data-animation="shake"></i>
                            </a>
                        </div>
                        <h3 class="text-center ">
                            <a>Responsive, high-tech</a>
                        </h3>
                        <p class="text-center">Open our website on any device – you are still going to enjoy it!</p>
                    </li>

                    <li class="col-md-3 text-center" data-os-animation="" data-os-animation-delay="">
                        <div class="box-round box-medium">
                            <div class="box-dummy"></div>
                            <a class="box-inner">
                                <i class="fa fa-headphones" data-animation="tada"></i>
                            </a>
                        </div>
                        <h3 class="text-center ">
                            <a>Music preview</a>
                        </h3>
                        <p class="text-center">Check out artist tunes and mixes before paying the door charge. We give you all the links.</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}
