angular
    .module('bc.config', [])
    .constant('facebookAppId', '{{ config.socials.facebook.client_id }}')
    .constant('instagramAppId', '{{ config.socials.instagram.client_id }}')
    .constant('cdnHref', '{{ config.files.cdn }}');
