<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ error.statusMessage|humanify }}</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/favicons/favicon.ico"/>
    <link rel="icon" type="image/png" href="/assets/images/favicons/favicon.png"/>

    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114-precomposed.png">

    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72-precomposed.png">

    <link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/apple-touch-icon-60x60-precomposed.png">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/theme.css">
    <link rel="stylesheet" href="/assets/css/color-defaults.min.css">
    <link rel="stylesheet" href="/assets/css/swatch-beige-black.min.css">
    <link rel="stylesheet" href="/assets/css/swatch-black-beige.min.css">
    <link rel="stylesheet" href="/assets/css/datepicker3.css">
    <link rel="stylesheet" href="/assets/css/bootstrap-timepicker.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/fonts.min.css" media="screen">
</head>
<body>
<header id="masthead" class="navbar navbar-sticky swatch-black-beige" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
                Boogie Call
            </a>
        </div>
    </div>
</header>

<div id="content" role="main">
    <section class="section swatch-beige-black">
        <div class="container">
            <header class="section-header no-underline">
                <h1 class="headline hyper hairline">{{ error.statusMessage|humanify }}</h1>
            </header>
            <div class="text-center">
                <img src="/assets/images/404.png" alt="{{ error.statusMessage|humanify }}">
            </div>
        </div>
    </section>
    <section class="section swatch-black-beige has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 100 L50 0 L100 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <header class="section-header underline text-center">
                <h1 class="headline super hairline">What's up?</h1>
                <p>
                    {% if error.statusCode == 404 %}Sorry lad, we don't have the page you are looking for
                    {% else %}Sorry lad, something non-expected happened. We are looking into it
                    {% endif %}
                </p>
            </header>
            <div class="text-center">
                <a class="btn btn-primary btn-lg btn-icon-right pull-center mt-md" href="/">
                    Go to homepage
                    <div class="hex-alt hex-alt-big">
                        <i class="fa fa-home" data-animation="tada"></i>
                    </div>
                </a>

                <a class="btn btn-primary btn-lg btn-icon-right pull-center ml-lg mt-md" href="https://status.boogiecall.com">
                    See our status page
                    <div class="hex-alt hex-alt-big">
                        <i class="fa fa-dashboard" data-animation="tada"></i>
                    </div>
                </a>
            </div>
        </div>
    </section>
</div>

<footer id="footer" role="contentinfo">
    <section class="section swatch-beige-black has-top">
        <div class="decor-top">
            <svg class="decor" height="100%" preserveaspectratio="none" version="1.1" viewbox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0 L50 100 L100 0 L100 100 L0 100" stroke-width="0"></path>
            </svg>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div id="swatch_social-2" class="sidebar-widget  widget_swatch_social">
                        <ul class="unstyled inline small-screen-center social-icons social-background social-big">
                            <li>
                                <a href="https://itunes.apple.com/us/app/boogie-call-find-a-party/id954161151">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://play.google.com/store/apps/details?id=com.menara.boogiecall" title="Boogie Call mobile app for Android">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="text-4" class="sidebar-widget widget_text">
                        <div class="textwidget">
                            <a href="http://www.menara.com.au">Menara Solutions Pty Ltd</a> 2014-2015&nbsp;&nbsp;&nbsp;
                            <a href="https://www.facebook.com/BoogieCallCom">
                                <i class="fa fa-facebook"></i>
                            </a>
                            &nbsp;&nbsp;
                            <a href="https://google.com/+Boogiecall">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>

<a class="go-top hex-alt" href="javascript:void(0)">
    <i class="fa fa-angle-up"></i>
</a>

<script src="/assets/js/packages.min.js"></script>
<script src="/assets/js/theme.min.js"></script>
<script src="/assets/js/jquery-mousewheel.js"></script>
<script src="/assets/js/app.jquery.js"></script>


</body>
</html>
