{{ '<?xml version="1.0" encoding="UTF-8"?>' }}

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    <url>
        <loc>{{ url(['for': 'get-geo-index-page'])|web }}</loc>
        <priority>0.3</priority>
    </url>
    <url>
        <loc>{{ url(['for': 'get-about-page', 'eventId': event.id])|web }}</loc>
        <priority>0.3</priority>
    </url>
{% for event in page.eventList %}
    {% if event.id %}
    <url>
        <loc>{{ url(['for': 'get-event-page', 'eventId': event.id])|web }}</loc>
        <lastmod>{{ event.modifiedAt|dateFormat('Y-m-d') }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.8</priority>
    </url>
    {% endif %}
{% endfor %}
{% for place in page.placeList %}
    {% if place.id %}
    <url>
        <loc>{{ url(['for': 'get-place-page', 'placeId': place.id])|web }}</loc>
        <lastmod>{{ place.modifiedAt|dateFormat('Y-m-d') }}</lastmod>
        <changefreq>monthly</changefreq>
        <priority>0.4</priority>
    </url>
    {% endif %}
{% endfor %}
{% for artist in page.artistList %}
    {% if artist.id %}
    <url>
        <loc>{{ url(['for': 'get-artist-page', 'artistId': artist.id])|web }}</loc>
        <lastmod>{{ artist.modifiedAt|dateFormat('Y-m-d') }}</lastmod>
        <changefreq>weekly</changefreq>
        <priority>0.7</priority>
    </url>
    {% endif %}
{% endfor %}
{% for location in page.locationList %}
    {% if location.id %}
    <url>
        <loc>{{ url(['for': 'get-event-list-page-by-location', 'locationId': location.id])|web }}</loc>
        <lastmod>{{ location.modifiedAt|dateFormat('Y-m-d') }}</lastmod>
        <changefreq>daily</changefreq>
        <priority>0.9</priority>
    </url>
    {% endif %}
{% endfor %}
</urlset>
